<h2 mat-dialog-title>
  @if (data.data) {
    Edit
  } @else {
    Add
  }
  Team
</h2>
<mat-dialog-content>
  @if (config && !data.data) {
    <p>
      Please complete this form to create a new team.
      You will be added as the initial owner and will be responsible
      for adding additional owners and users.
    </p>
  }
  @if (config) {
    <app-vertex-form-builder
      [collection]="'team'"
      [fieldMap]="config.fields"
      [data]="data.data"
      (formSubmitted)="addUpdateVertex()"></app-vertex-form-builder>
  }
  <mat-divider></mat-divider>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-stroked-button [disabled]="isFormInvalid()" (click)="addUpdateVertex()">
    @if (config && data.data) {
      Edit
    }
    @if (config && !data.data) {
      Add
    }
  </button>
</mat-dialog-actions>
