<h2 mat-dialog-title>
  @if (data.data) {
    Edit
  } @else {
    Add
  }
  Team
</h2>
<mat-dialog-content>
  @if (config && !data.data) {
    <p>Fill out this form to create a new team. You will be added as
      the initial owner and responsible for adding additional owners
    and users.</p>
  }
  @if (config) {
    <app-vertex-form-builder
      [collection]="'team'"
      [fieldMap]="config.fields"
      [data]="data.data"
    (onSubmit)="addUpdateVertex()"></app-vertex-form-builder>
  }
  <mat-divider></mat-divider>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="primary" [disabled]="isFormInvalid()" (click)="addUpdateVertex()">
    @if (config && data.data) {
      Edit
    }
    @if (config && !data.data) {
      Add
    }
  </button>
</mat-dialog-actions>
