<mat-toolbar
  class="app-toolbar">
  <button
    (click)="openSidebar()"
    matIconButton
    aria-label="Menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="app-name" routerLink="/">NR Broker UI</span>
  <span class="app-spacer"></span>

  <app-search-input></app-search-input>

  <span class="app-spacer"></span>

  <button mat-icon-button [ngClass]="healthStatus ? 'online' : 'offline'"
    (mouseover)="showStatusText(true)" (mouseout)="showStatusText(false)"
    aria-label="Server status" >
    <mat-icon>favorite</mat-icon>
    @if (isHovered) {
      <span class="status-text">{{ statusText }}</span>
    }
  </button>

  <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="Account menu button">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item  (click)="showUser()">
      <mat-icon>account_circle</mat-icon>
      <span>{{user.name}}</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="showRolesDialog()">
      <mat-icon>view_list</mat-icon>
      <span>View roles</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Log out</span>
    </button>
  </mat-menu>
</mat-toolbar>
