@use '@angular/material' as mat;

.app-spacer {
  flex: 1 1 auto;
}

.app-name {
  margin-left: 8px;
  cursor: pointer;
}

.offline {
  color: var(--mat-sys-error-container);
}

.online {
  color: var(--mat-sys-secondary-container);
}

.status-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
}

:host {
  @include mat.toolbar-overrides((
    container-background-color:  var(--mat-sys-on-primary-container),
    container-text-color: var(--mat-sys-primary-container),
  ));

  @include mat.icon-button-overrides((
    icon-color: var(--mat-sys-primary-container),
    state-layer-color: var(--mat-sys-primary-container),
  ));
}
