@use '@angular/material' as mat;

.app-spacer {
  flex: 1 1 auto;
}

.app-name {
  margin-left: 8px;
  cursor: pointer;
}

.offline {
  color: var(--mat-sys-error-container);
}

.online {
  color: light-dark(#78ff5c, #085300);
}

.status-text {
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  display: none;
}

:host {
  .toolbar-health-button:hover .status-text {
    display: block;
  }

  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-on-primary-container),
    container-text-color: var(--mat-sys-primary-container),
  ));

  @include mat.icon-button-overrides((
    icon-color: var(--mat-sys-primary-container),
    state-layer-color: var(--mat-sys-primary-container),
  ));
}
