

.edge-container-margin-left {
  margin-left: 16px;
  margin-bottom: 16px;
}

.edge-container-buttons a {
  margin-right: 12px;
}

.heading {
  margin-left: 16px;
}

.heading {
  display: flex;
  align-items: center;
}

.heading h3 {
  flex-grow: 1;
  margin: 0;
}

.heading :last-child {
  flex-grow: 0;
}

.details-container {
  flex: 0 0 auto;
  margin-bottom: 16px;
}

.details-container a {
  text-decoration: none;
}
