<div class="edge-container">
  <div class="heading">
    <h3>GitHub</h3>

    @if(healthStatus.health$ | async; as health) {
      @if(isSelf && health?.details?.['github']?.['alias']) {
      <button
        mat-button
        (click)="linkGitHubAccount()"
        aria-label="Link Account">
        Link
      </button>
      }
    }
  </div>
</div>

@if(!collection?.alias) {
  <div class="edge-container edge-container-margin-left">Account is not linked</div>
}

@if(collection?.alias) {
<div class="edge-container edge-container-margin-left details-container">
  <a href="https://github.com/{{ collection.alias[0].username }}" target="_blank">
    <app-details-item title="Username" clickable="true">{{ collection.alias[0].username }}</app-details-item>
  </a>
</div>
}