.vertex-heading {
  margin: 8px 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.fields-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
}

.vertex-edge-container, .vertex-edge-type-container {
  margin-left: 16px;
  margin-top: 8px;
}