<div>
  @if (connectedTable().length > 0) {
    <div class="wrapper vertex-edge-container">
      <div class="fields-wrapper">
        <h3 class="vertex-heading">Collections</h3>
      </div>
    </div>
    <div class="vertex-edge-type-container">
      <mat-chip-listbox [selectable]="false">
        @for (item of connectedTable(); track item.collection + ':' + item.direction) {
          <mat-chip-option
            [ngStyle]="{'background-color': '#' + configRecord[item.collection].color}"
            (click)="openCollectionConnections(item.collection, item.direction, item.restrict === 'all')">
            <span [ngStyle]="{color: this.getVisibleTextColor(configRecord[item.collection].color)}">
              {{item.direction === 'upstream' ? '↑' : '↓'}} {{ configRecord[item.collection].name }}
            </span></mat-chip-option>
        }
      </mat-chip-listbox>
    </div>
  }

  <app-inspector-connections-direction
    direction="inbound"
    [config]="config()"
    [edges]="upstream()"
    [hideRestricted]="hideRestricted()"
    [hasAdmin]="hasAdmin()"
    (selected)="selected.emit($event)"
    (deleteEdges)="openDeleteEdgeDialog($event)"
    ></app-inspector-connections-direction>

  <app-inspector-connections-direction
    direction="outbound"
    [config]="config()"
    [edges]="downstream()"
    [hideRestricted]="hideRestricted()"
    [hasAdmin]="hasAdmin()"
    (selected)="selected.emit($event)"
    (addEdge)="addEdgeToVertex()"
    (deleteEdges)="openDeleteEdgeDialog($event)"
    ></app-inspector-connections-direction>
</div>