@if (vertices) {
<div class="edge-container">
  <div class="header-container">
    <h3 class="header-text">Instances</h3>
    @if (permission.hasAdmin()) {
      <div class="header-buttons">
        <button
          mat-button
          (click)="openInstanceDialog()"
          [disabled]="!permission.hasAdmin()">Add</button>
      </div>
    }
  </div>
</div>
}

@if (this.tableData.length == 0 && !loading) {
  <div class="edge-container intention-none">None</div>
}

<table
  mat-table
  [dataSource]="tableData"
  multiTemplateDataRows>

<!-- Outcome Column -->
<ng-container matColumnDef="outcome">
  <th mat-header-cell *matHeaderCellDef> </th>
  <td mat-cell *matCellDef="let element">
    @if (element?.action?.source?.intention) {
      <app-outcome-icon [outcome]="element.action.source.intention.transaction.outcome"></app-outcome-icon>
    }
    {{element.name}}
  </td>
</ng-container>

<!-- Version Column -->
<ng-container matColumnDef="version">
  <th mat-header-cell *matHeaderCellDef> Version </th>
  <td mat-cell *matCellDef="let element" class="version">
    @if (element?.action?.source?.action) {
      {{element.action.source.action.package.version}}
    }
  </td>
</ng-container>

<!-- Start Column -->
<ng-container matColumnDef="start">
  <th mat-header-cell *matHeaderCellDef> Start </th>
  <td mat-cell *matCellDef="let element">
    @if (element?.action?.source?.intention) {
      {{element.action.source.intention.transaction.start}}
    }
  </td>
</ng-container>

<ng-container matColumnDef="expand">
  <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
  <td mat-cell *matCellDef="let element">
    <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
      @if (expandedElement === element) {
        <mat-icon>keyboard_arrow_up</mat-icon>
      } @else {
        <mat-icon>keyboard_arrow_down</mat-icon>
      }
    </button>
  </td>
</ng-container>

<!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
<ng-container matColumnDef="expandedDetail">
  <td
    mat-cell
    *matCellDef="let element"
    [attr.colspan]="propDisplayedColumnsWithExpand.length">
    <div class="element-detail"
      [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
    <app-inspector-installs
      [pointers]="element.actionHistory"
      ></app-inspector-installs>
    </div>
  </td>
</ng-container>

<!-- Group Content Column - The group row is made up of this one column that spans across all columns -->
<ng-container matColumnDef="group">
  <td
    mat-cell
    *matCellDef="let element"
    [attr.colspan]="propDisplayedColumnsWithExpand.length">
    <h4 class="header-text">{{ element.env.title }}</h4>
  </td>
</ng-container>

  <tr
    mat-row
    *matRowDef="let element; columns: propDisplayedColumnsWithExpand; when: isNotGroup"
    class="element-row"
    [class.expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']; when: isNotGroup"
    class="detail-row"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['group']; when: isGroup;"
    class="group-row"></tr>

</table>
