
.edge-container {
  margin-left: 16px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-text {
  margin: 8px 0;
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.group-row {
  height: 0;
}

.group-row td {
  border-bottom-width: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: var(--mat-sys-surface-container-high);
}

tr.element-row:not(.expanded-row):active {
  background: var(--mat-sys-surface-container-highest);
}

.element-row td {
  border-bottom-width: 0;
}

.element-row td:last-child {
  width: 48px;
}

.element-detail {
  overflow: hidden;
}

.mat-icon-status {
  line-height: 1em;
  vertical-align: -2px;
}

.version {
  color: var(--mat-sys-on-surface-variant);
}

.intention-none {
  margin-top: 16px;
  margin-bottom: 16px;
}