<div class="edge-container">
  <div class="heading">
    <h3>Service Accounts (AppRole)</h3>
  </div>
</div>

@if (showHelp()) {
  <div class="edge-container">
    <small>Service accounts are created for each environment where there is a downstream service instance. </small>
  </div>
}

<div class="chip-container">
<mat-chip-listbox [selectable]="false">
  @let localData = data();
  @if (localData) {
    @for (role of localData.appRole; track role.env.id) {
      <mat-chip-option
        [disabled]="!role.enabled"
        (click)="openSecureDialog(localData.api, role)">
        {{role.env.title}}
      </mat-chip-option>
    }
  }
</mat-chip-listbox>
</div>