<table mat-table [dataSource]="intentionData" multiTemplateDataRows>

  <!-- Project Column -->
  <ng-container matColumnDef="project">
    <th mat-header-cell *matHeaderCellDef> Project </th>
    <td mat-cell *matCellDef="let element">
      <app-action-content [intention]="element" key="service.project"></app-action-content>
    </td>
  </ng-container>

  <!-- Service Column -->
  <ng-container matColumnDef="service">
    <th mat-header-cell *matHeaderCellDef> Service </th>
    <td mat-cell *matCellDef="let element">
      <app-action-content [intention]="element" key="service.name"></app-action-content>
    </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <app-action-content [intention]="element" key="action"></app-action-content>
    </td>
  </ng-container>

  <!-- Action Icon Column -->
  <ng-container matColumnDef="action-icon">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      @if (element.event.transient === true) {
        <mat-icon class="mat-icon-status" inline="true" color="primary">event_repeat</mat-icon>
      }
    </td>
  </ng-container>
  
  <!-- Reason Column -->
  <ng-container matColumnDef="reason">
    <th mat-header-cell *matHeaderCellDef> Reason </th>
    <td mat-cell *matCellDef="let element">
      {{element.event.reason}}
    </td>
  </ng-container>

  <!-- Start Column -->
  <ng-container matColumnDef="start">
    <th mat-header-cell *matHeaderCellDef> Start </th>
    <td mat-cell *matCellDef="let element"> {{element.transaction.start | date:'medium'}} </td>
  </ng-container>

  <!-- Start Narrow Column -->
  <ng-container matColumnDef="start-narrow">
    <th mat-header-cell *matHeaderCellDef> Start </th>
    <td mat-cell *matCellDef="let element">
      @if (element.transaction.outcome === 'success') {
        <mat-icon class="mat-icon-status" inline="true" color="primary">check_circle_outline</mat-icon>
      } @else if (element.transaction.outcome === 'failure') {
        <mat-icon class="mat-icon-status" inline="true" color="warn">dangerous</mat-icon>
      } @else {
        <mat-icon class="mat-icon-status" inline="true" color="accent">hourglass_empty</mat-icon>
      }

      {{element.transaction.start | date:'short'}}
    </td>
  </ng-container>


  <!-- Duration Column -->
  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef> Duration </th>
    <td mat-cell *matCellDef="let element"> {{totalDuration(element)}} </td>
  </ng-container>

  <!-- Outcome Column -->
  <ng-container matColumnDef="outcome">
    <th mat-header-cell *matHeaderCellDef> Outcome </th>
    <td mat-cell *matCellDef="let element"> {{element.transaction.outcome}} </td>
  </ng-container>

  <!-- User Column -->
  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef> User </th>
    <td mat-cell *matCellDef="let element"> {{element.user.name ?? element.user.id}} </td>
  </ng-container>

  <!-- Open Column -->
  <ng-container matColumnDef="open">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"><a mat-stroked-button (click)="navigateHistoryById(element.id)">View</a></td>
  </ng-container>

  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
        @if (expandedElement === element) {
          <mat-icon>keyboard_arrow_up</mat-icon>
        } @else {
          <mat-icon>keyboard_arrow_down</mat-icon>
        }
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="propDisplayedColumnsWithExpand.length">
      <div class="element-detail"
        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        @if (layout === 'normal') {
        <div class="expanded-header-actions">
          <h3>Actions</h3>
          @if (element.transaction.duration) {
            <span>Duration: {{totalDuration(element)}}</span>
          }

          @if (element.event.url) {
            <a
              mat-stroked-button
              matTooltip="Access to event log may be restricted"
              matTooltipShowDelay="500"
              href="{{element.event.url}}"
              target="_blank">View Event <mat-icon iconPositionEnd fontIcon="open_in_new"></mat-icon></a>
          }
          <a
            mat-stroked-button href="{{element.auditUrl}}"
            target="_blank">View Audit <mat-icon iconPositionEnd fontIcon="open_in_new"></mat-icon></a>
        </div>
        @for (action of element.actions; track action) {
          <div class="expanded-header-container">
            <h5><a (click)="openCollection('project', 'name', action.service.project)"
              >{{action.service.project}}</a> / <a (click)="openCollection('service', 'name', action.service.name)"
              >{{action.service.name}}</a>
              #{{action.id}} @if (action.package && action.package.buildNumber) {: build {{action.package.buildNumber}}}</h5>
            <div>Environment: <b>{{action.service.environment}}</b></div>
          </div>
          @if (element == expandedElement) {
            <app-gantt-graph [intention]="element" [action]="action"></app-gantt-graph>
          }

          @if (action.artifacts) {
            <div class="expanded-header-actions">
              <h3>Artifacts</h3>
              @if (action.package && action.package.buildVersion) {
                <a mat-button
                  [cdkCopyToClipboard]="action.package.buildVersion"
                  [cdkCopyToClipboardAttempts]="5"
                  >Copy SCM Version<mat-icon iconPositionEnd fontIcon="content_copy"></mat-icon></a>
                <a mat-stroked-button
                  (click)="openPackageBuildVersion(action.service.id, action.package.buildVersion)"
                  matTooltip="{{action.package.buildVersion}}"
                  matTooltipShowDelay="500"
                  >Open SCM<mat-icon iconPositionEnd fontIcon="open_in_new"></mat-icon></a>
              }
            </div>
            <div class="artifact-container">
              @for (artifact of action.artifacts; track artifact) {
                <mat-card class="artifact-card">
                  <mat-card-header>
                    <mat-card-title>@if (artifact.name) {
                      {{artifact.name}}
                    } @else {
                      Unknown
                    }</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="package-info">
                    @if (artifact.size) {
                      <div class="info-name">Size</div><div class="info-value">{{artifact.size | filesize}}</div>
                    }
                    @if (artifact.checksum) {
                      <div class="info-name">Hash</div><div class="info-value">{{artifact.checksum}}</div>
                    }
                    @if (action.package?.version) {
                      <div class="info-name">Version</div><div class="info-value">{{action.package.version}}</div>
                    }
                  </div>
                  </mat-card-content>
                </mat-card>
              }
            </div>
          }
          @if (action.action == "package-installation" && action.package) {
            <div class="expanded-header-actions">
              <h3>Package</h3>
              @if (action.package && action.package.buildVersion) {
                <a mat-button
                  [cdkCopyToClipboard]="action.package.buildVersion"
                  [cdkCopyToClipboardAttempts]="5"
                  >Copy SCM Version<mat-icon iconPositionEnd fontIcon="content_copy"></mat-icon></a>
                <a mat-stroked-button
                  (click)="openPackageBuildVersion(action.service.id, action.package.buildVersion)"
                  matTooltip="{{action.package.buildVersion}}"
                  matTooltipShowDelay="500"
                  >Open SCM<mat-icon iconPositionEnd fontIcon="open_in_new"></mat-icon></a>
              }
            </div>
            <div class="artifact-container">
              <mat-card class="artifact-card">
                <mat-card-header>
                  <mat-card-title>{{action.package.name}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div class="package-info">
                  @if (action.package.size) {
                    <div class="info-name">Size</div><div class="info-value">{{action.package.size | filesize}}</div>
                  }
                  @if (action.package.checksum) {
                    <div class="info-name">Hash</div><div class="info-value">{{action.package.checksum}}</div>
                  }
                  @if (action.package.version) {
                    <div class="info-name">Version</div><div class="info-value">{{action.package.version}}</div>
                  }
                  </div>
                </mat-card-content>
                @if (action.source?.intention) {
                  <mat-card-actions align="end" >
                    <button mat-button (click)="viewIntention(action.source.intention)">View build</button>
                  </mat-card-actions>
                }
              </mat-card>
            </div>
          }
        }
      } @else {
        <mat-list>
          <mat-list-item>
            <span matListItemTitle>Reason</span>
            <span matListItemLine>{{element.event.reason}}</span>
          </mat-list-item>

          <mat-list-item>
            <span matListItemTitle>User</span>
            <span matListItemLine>{{element.user.name ?? element.user.id}}</span>
          </mat-list-item>
          @if (element.transaction.duration) {
            <mat-list-item>
              <span matListItemTitle>Duration</span>
              <span matListItemLine>{{totalDuration(element)}}</span>
            </mat-list-item>
          }
        </mat-list>
        <div class="expanded-narrow-header-actions">
          @if (element.event.url) {
            <a
              mat-stroked-button
              matTooltip="Access to event log may be restricted"
              matTooltipShowDelay="500"
              href="{{element.event.url}}"
              target="_blank">View Event <mat-icon iconPositionEnd fontIcon="open_in_new"></mat-icon></a>
          }
          <a
            mat-stroked-button
            href="{{element.auditUrl}}"
            target="_blank">View Audit <mat-icon iconPositionEnd fontIcon="open_in_new"></mat-icon></a>
        </div>
      }
      </div>
    </td>
  </ng-container>

  @if (showHeader) {
    <tr mat-header-row *matHeaderRowDef="propDisplayedColumnsWithExpand"></tr>
  }
  <tr mat-row *matRowDef="let element; columns: propDisplayedColumnsWithExpand;"
    class="element-row"
    [class.expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="history-detail-row"></tr>
</table>