table {
  width: 100%;
}

tr.element-row:hover {
  background: var(--mat-sys-surface-container-high);
  cursor: pointer;
}

tr.element-row:active {
  background: var(--mat-sys-surface-container-highest);
}
