table {
  width: 100%;
}

tr.history-detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: var(--mat-sys-surface-container-high);
}

tr.element-row:not(.expanded-row):active {
  background: var(--mat-sys-surface-container-highest);
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
}
