.edge-container {
  margin-left: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edge-body {
  margin-top: 16px;
  margin-left: 16px;
  display: flex;
  margin-bottom: 16px;
  justify-content: flex-start;
  gap: 8px;
}

.edge-body > * {
  width: 50%;
}

.heading {
  margin: 8px 0;
}

.fields-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
}

.details-section {
  display: block;
  border-bottom-style: solid;
  border-bottom-color: var(--mat-sys-outline);
  border-bottom-width: 1px;
  font-size: 14px;
  line-height: 40px;
  font-weight: 500;
  margin-bottom: 12px;
}

.details-buttons {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;
  justify-content: flex-start;
  gap: 8px;
}
