.edge-container {
  margin-left: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edge-body {
  margin-top: 16px;
  margin-left: 16px;
  display: flex;
  margin-bottom: 16px;
  justify-content: flex-start;
  gap: 8px;
  flex-wrap: wrap;
}

.edge-body > * {
  width: calc(50% - 8px);
}

.heading {
  margin: 8px 0;
}

.fields-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
}

.details-buttons {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;
  justify-content: flex-start;
  gap: 8px;
}
