@if (syncAvailable()) {
  <div class="edge-container">
    <div class="fields-wrapper">
      @if (header() === 'small') {
        <h3 class="heading">Sync Status</h3>
      } @else {
        <h2 class="heading">Sync Status</h2>
      }
    </div>
  </div>
  <div class="edge-body">
    @for (action of syncActions(); track action.key) {
      <div>
        <div class="details-section">{{ action.label }}</div>

        @if (showQueued(action.statusKey)) {
          <app-details-item item="Queued">{{$safeNavigationMigration(data()[action.statusKey]?.queuedAt) | date: 'medium'}}</app-details-item>
        } @else {
          <app-details-item item="Last sync">@if(lastSyncAt(action.statusKey)) {
              {{$safeNavigationMigration(lastSyncAt(action.statusKey)) | date: 'medium'}}
            } @else {
              Never
            }</app-details-item>
        }

        <div class="details-buttons">
          <button
            mat-stroked-button
            (click)="sync(action)"
            [disabled]="!isEnabled(action.enabledKey)">Sync</button>

          @if (action.help) {
            <button
              mat-button
              (click)="openHelp(action.help)">Help</button>
          }
        </div>
      </div>
    }
  </div>

} @else {
  <p class="edge-container">Sync services are currently not available.</p>
}
