.edge-container {
  margin-left: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edge-body {
  margin-top: 16px;
  margin-left: 16px;
  display: flex;
  margin-bottom: 16px;
  justify-content: flex-start;
  gap: 8px;
}

.edge-body > * {
  width: 50%;
}

.heading {
  margin: 8px 0;
}

.fields-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
}

.details-section {
  display: block;
  border-bottom-style: solid;
  border-bottom-color: var(--mat-sys-outline);
  border-bottom-width: 1px;
  font-size: 14px;
  line-height: 40px;
  font-weight: 500;
  margin-bottom: 12px;
}

.details-item {
  margin-left: -4px;
  padding: 4px;
  margin-bottom: 12px;
}

.details-header {
  min-width: 100px;
  font-size: 16px;
  font-weight: 400;
}

.details-line {
  color: var(--mat-sys-on-surface-variant);
  font-size: 14px;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 25px;
  line-height: 20px;
}

.details-buttons {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;
  justify-content: flex-start;
  gap: 8px;
}
