<div class="edge-container">
  <div class="fields-wrapper">
    @if (header() === 'small') {
      <h3 class="heading">Sync Status</h3>
    } @else {
      <h2 class="heading">Sync Status</h2>
    }
  </div>
</div>
@if(healthStatus.health$ | async; as health) {
  @if(health.details['github']['sync']) {
    <div class="edge-body">

      <div>

      <div class="details-section">Secrets</div>

      @if(showSecretsQueued()) {
        <app-details-item item="Queued">{{repository.syncSecretsStatus?.queuedAt | date: 'medium'}}</app-details-item>
      } @else {
        <app-details-item item="Last sync">@if(repository.syncSecretsStatus?.syncAt) {
            {{repository.syncSecretsStatus?.syncAt | date: 'medium'}}
          } @else {
            Never
          }</app-details-item>
      }

      <div class="details-buttons">
        <button
          mat-stroked-button
          (click)="syncSecrets()"
          [disabled]="!repository.enableSyncSecrets">Sync</button>

        <button
          mat-button
          (click)="showGitHubSecrets()">Help</button>
      </div>
    </div>

    <div>
      <div class="details-section">User Access</div>

      @if(showUsersQueued()) {
        <app-details-item item="Queued">{{repository.syncUsersStatus?.queuedAt | date: 'medium'}}</app-details-item>
      } @else {
        <app-details-item item="Last sync">@if(repository.syncUsersStatus?.syncAt) {
            {{repository.syncUsersStatus?.syncAt | date: 'medium'}}
          } @else {
            Never
          }</app-details-item>
      }

      <div class="details-buttons">
        <button
          mat-stroked-button
          (click)="syncUsers()"
          [disabled]="!repository.enableSyncUsers">Sync</button>

        <button
          mat-button
          (click)="showGitHubRoleMappings()">Help</button>
      </div>
    </div>

  </div>

  } @else {
    <p class="edge-container">Sync services are currently not available.</p>
  }
}