# Compiled output
/api/dist
/api/node_modules
/ui/dist
/ui/tmp
/ui/out-tsc
/ui/bazel-out
/ui/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Tests
/api/coverage
/api/.nyc_output
/ui/coverage

# OS
.DS_Store
Thumbs.db

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Angular
/ui/.angular/cache
/ui/.sass-cache/
/ui/connect.lock
/ui/libpeerconnection.log
/ui/testem.log
/ui/typings

# Environment and secrets
/api/env-prod.hcl
/scripts/db/mongo-setup-ext.js
/scripts/setenv-common.sh
/samples/provision-app-quick-build.artifact.sha256
/samples/provision-app-quick-build.intention.id
