<h2 mat-dialog-title>Members - {{ data.name }}</h2>
<mat-dialog-content>

  <div class="form-panel">
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select required [(value)]="userTypeSelected">
        <mat-option value="owner">Owner</mat-option>
        <mat-option value="developer">Developer</mat-option>
        <mat-option value="lead-developer">Lead Developer</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>User</mat-label>
      <input type="text"
            placeholder="Pick one"
            aria-label="User"
            matInput
            [formControl]="userControl"
            [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button mat-button (click)="addUser()" [disabled]="!userControl.value?.id">Add</button>
  </div>

  <mat-divider></mat-divider>

  <mat-selection-list #userList>
    <mat-list-option *ngFor="let searchUser of users" [value]="searchUser" [disabled]="user.vertex == searchUser.id">
      <span matListItemTitle>{{ searchUser.name }}</span>
      <span matListItemLine>{{ displayEdgeNames(searchUser.edges) }}</span>
    </mat-list-option>
  </mat-selection-list>

  <div class="list-btn-panel">
    <button mat-button
      [disabled]="userList.selectedOptions.selected.length == 0"
      (click)="removeUsers(userList.selectedOptions.selected)">Remove</button>
  </div>
  <mat-divider></mat-divider>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
