.form-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.member-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:8px;
}
.member-header h2 {
  margin: 0;
  font-size: 18px;
}

.list-btn-panel {
  margin-bottom: 8px;
  text-align: right;
}

.remove-panel {
  text-align: right;
  margin-right: -8px;
}

.no-members {
  margin: 16px;
}

.user-list {
  margin-left: -24px;
  margin-right: -24px;
}

.user-list-item {
  padding-left: 24px;
}

.user-role-help {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 20px;
}

.disable-mouse {
  pointer-events: none;
}

.member-role-accordian {
  padding-bottom: 8px;
}