<div class="content">
  <div class="title">
    <img
      src="apple-touch-icon.png"
      width="90"
      height="90"
      alt="Logo" />
    <h1>NR Broker UI</h1>
  </div>

  <mat-tab-group
    mat-stretch-tabs="false"
    mat-align-tabs="center"
    dynamicHeight
    [selectedIndex]="selectedTabIndex"
    (selectedIndexChange)="setSelectedTabIndex($event)">
    <mat-tab label="Welcome">

      <div class="tab-flex">
        <div class="tab-content">

          <p>NR Broker is a customizable software deployment and business intelligence tool.  It automates access to secrets stored in HashiCorp Vault for software such as applications, GitHub Actions, and more. It also audits activities like builds, installations, and secret provisioning, while enabling automated access management.</p>

          <p>Broker stores information about collection objects—such as projects, services, accounts, and users—in a database. These objects (vertices) are linked using connections (edges), forming a graph.</p>

          <p>New users may wish to review their <a href="#" [routerLink]="['/browse/team', {showFilter: 'connected'}]">team membership</a> in Broker. In the Browse and Graph sections, you can filter objects based on your connections. External services will use the connection in the graph to determine access.</p>

          <p>Click the button below to continue and view details about each section in NR Broker.</p>

          <button
            matButton="filled"
            class="tab-content-btn"
            matRipple
            #ripple="matRipple"
            (click)="setSelectedTabIndex(1)">
            <mat-icon iconPositionEnd>arrow_forward_ios</mat-icon>
            Sections
          </button>
        </div>
      </div>

    </mat-tab>
    <mat-tab label="Sections">
      <div class="cards">

        <mat-card appearance="outlined">
          <a routerLink="/browse">
            <mat-card-header>
              <mat-card-title>
                <button
                  class="title-icon"
                  mat-fab
                  aria-label="Browse">
                  <mat-icon>table_view</mat-icon>
                </button>
                <div>Browse</div>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                View, filter, and sort collection objects in a table. View details of specific objects and their connections.
              </p>
            </mat-card-content>
          </a>
        </mat-card>

        <mat-card appearance="outlined">
          <a routerLink="/graph">
            <mat-card-header>
              <mat-card-title>
                <button
                  class="title-icon"
                  mat-fab
                  aria-label="Graph">
                  <mat-icon>account_tree</mat-icon>
                </button>
                <div>Graph</div></mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                Visualize the connections between collection objects. Inspect objects and connection properties.
              </p>
            </mat-card-content>
          </a>
        </mat-card>

        <mat-card appearance="outlined">
          <a routerLink="/intention/history">
            <mat-card-header>
              <mat-card-title>
                <button
                  class="title-icon"
                  mat-fab
                  aria-label="History">
                  <mat-icon>history</mat-icon>
                </button>
                <div>History</div>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                View audit of service automation, deployments, provisioning and other activities.
              </p>
            </mat-card-content>
          </a>
        </mat-card>

        <mat-card appearance="outlined">
          <a [routerLink]="['/browse/team', {showFilter: 'connected'}]">
            <mat-card-header>
              <mat-card-title>
                <button
                  class="title-icon"
                  mat-fab
                  aria-label="Team">
                  <mat-icon>groups</mat-icon>
                </button>
                <div>Teams</div>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                View and update your teams.
              </p>
            </mat-card-content>
          </a>
        </mat-card>

      </div>

    </mat-tab>
  </mat-tab-group>


  <h2>External Services</h2>

  <div class="cards">

    @if (loading()) {
      <mat-spinner></mat-spinner>
    } @else {
      @if (services.length === 0) {
        <h4>None configured</h4>
      }
      @for (item of services; track item.id) {
        <a href="{{item.href}}" target="_blank">
          <mat-card appearance="outlined">
            <mat-card-header>
              <mat-card-title>{{item.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{item.description}}
              </p>
            </mat-card-content>
          </mat-card>
        </a>
    }
  }
  </div>

  <h2>Documentation</h2>

  <div class="cards">

    @if (loading()) {
      <mat-spinner></mat-spinner>
    } @else {
      @if (documents.length === 0) {
        <h4>None configured</h4>
      }
      @for (item of documents; track item.id) {
        <a href="{{item.href}}" target="_blank">
          <mat-card appearance="outlined">
            <mat-card-header>
              <mat-card-title>{{item.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{item.description}}
              </p>
            </mat-card-content>
          </mat-card>
        </a>
      }
    }
  </div>
</div>