<div class="content">
  <div class="title">
    <img src="apple-touch-icon.png" width="90" height="90" />
    <h1>NR Broker UI</h1>
  </div>
  <div class="cards">

    <mat-card>
      <a routerLink="/graph">
        <mat-card-header>
          <mat-card-title>Graph</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Visualize and inspect projects, services and accounts.
          </p>
        </mat-card-content>
      </a>
    </mat-card>

    <mat-card>
      <a routerLink="/browse">
        <mat-card-header>
          <mat-card-title>Browse</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            View data tables and search.
          </p>
        </mat-card-content>
      </a>
    </mat-card>

    <mat-card>
      <a routerLink="/browse/team">
        <mat-card-header>
          <mat-card-title>Teams</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            View and update your teams.
          </p>
        </mat-card-content>
      </a>
    </mat-card>

    <mat-card>
      <a routerLink="/intention/history">
        <mat-card-header>
          <mat-card-title>History</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            View and audit automated service deployment, provisioning and more.
          </p>
        </mat-card-content>
      </a>
    </mat-card>

  </div>

  <h2>External Services</h2>

  <div class="cards">

    @if (loading) {
      <mat-spinner></mat-spinner>
    } @else {
      @if (services.length === 0) {
        <h4>None configured</h4>
      }
      @for (item of services; track item.id) {
        <a href="{{item.href}}" target="_blank">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{item.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{item.description}}
              </p>
            </mat-card-content>
          </mat-card>
        </a>
    }
  }
  </div>

  <h2>Documentation</h2>

  <div class="cards">

    @if (loading) {
      <mat-spinner></mat-spinner>
    } @else {
      @if (documents.length === 0) {
        <h4>None configured</h4>
      }
      @for (item of documents; track item.id) {
        <a href="{{item.href}}" target="_blank">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{item.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{item.description}}
              </p>
            </mat-card-content>
          </mat-card>
        </a>
      }
    }
  </div>
</div>