<div class="content">
  <h1>Welcome to NR Broker</h1>
  <div class="cards">

    <mat-card>
      <a routerLink="/graph">
        <mat-card-header>
          <mat-card-title>Graph</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Visualize and inspect projects, services and accounts.
          </p>
        </mat-card-content>
      </a>
    </mat-card>

    <mat-card>
      <a routerLink="/intention/history">
        <mat-card-header>
          <mat-card-title>History</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            View and audit automated service deployment, provisioning and more.
          </p>
        </mat-card-content>
      </a>
    </mat-card>

  </div>

  <mat-divider></mat-divider>
  <h2>External Services</h2>

  <div class="cards">

    <mat-card onclick="location.href='https://apm.io.nrs.gov.bc.ca/_dashboards/app/home#/';">
      <mat-card-header>
        <mat-card-title>APM - OpenSearch</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          The APM (Application Performance Stack) allows teams to view Broker Audit logs and evaluate automation performance.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card onclick="location.href='https://apps.nrs.gov.bc.ca/int/confluence/x/pS3FBw';">
      <mat-card-header>
        <mat-card-title>Broker Documentation</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Read about what the broker offers teams and the automation it enables.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card onclick="location.href='https://developer.hashicorp.com/vault/docs?product_intent=vault';">
      <mat-card-header>
        <mat-card-title>IIT Vault</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Secure storage of tokens, passwords and other secrets. Broker enables audited application access to Vault.
        </p>
      </mat-card-content>
    </mat-card>

  </div>
</div>
