@use '@angular/material' as mat;

body {
  overflow-x: hidden;
}

.content h1 {
  text-align: center;
  margin-top: 16px;
}

.content h2 {
  text-align: center;
  margin-top: 16px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
  gap: 16px;
}

.tab-flex {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .cards {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.tab-content a {
  text-decoration: underline;
}

mat-card {
  flex: 0 1 calc(75% - 1em);
  margin: 15px;
  min-width: 400px;
  max-width: 400px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

mat-card:hover {
  transform: scale(1.1);
}

mat-card a {
  all: unset;
}

mat-card-header {
  justify-content: center;
  text-align: center;
}

mat-card-content {
  margin-top: 16px;
  margin-bottom: 8px;
  text-align: center;
  color: var(--mat-sys-on-primary-container);
}

@media only screen and (min-width: 600px) {
  .content .cards {
    flex-direction: row;
    align-items: auto;
    align-content: start
  }

  mat-card {
    flex: 0 0 auto;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.title-icon {
  margin-bottom: 8px;
}

.tab-content {
  margin-top: 8px;
  max-width: 600px;
}

.tab-content-btn {
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
}

:host {
  @include mat.fab-overrides((
    container-color: var(--mat-sys-on-primary-container),
    foreground-color: var(--mat-sys-primary-container),
    container-shape: 400px,
  ));
}