@let localTimestamps = timestamps();
@if (localTimestamps) {
  <div class="container">
    <h3>Information</h3>
    <mat-list>
    @if (localTimestamps.createdAt) {
      <mat-list-item>
        <span matListItemTitle>Created</span>
        <span matListItemLine>{{ localTimestamps.createdAt | date:'medium' }}</span>
      </mat-list-item>
    }
    @if (localTimestamps.updatedAt) {
      <mat-list-item>
        <span matListItemTitle>Modified</span>
        <span matListItemLine>{{ localTimestamps.updatedAt | date:'medium' }}</span>
      </mat-list-item>
    }
    </mat-list>
  </div>
}