

.edge-container-margin-left {
  margin-left: 16px;
  margin-bottom: 16px;
}

.edge-container-buttons a {
  margin-right: 12px;
}

.heading {
  margin-left: 16px;
}

.heading {
  display: flex;
  align-items: center;
}

.heading h3 {
  flex-grow: 1;
  margin: 0;
}

.heading :last-child {
  flex-grow: 0;
}

.install-details {
  flex: 0 0 auto;
  margin-bottom: 16px;
}

.install-version {
  margin-bottom: 8px;
}

.details-item {
  margin-left: -4px;
  padding: 4px;
  margin-bottom: 12px;
}

.details-item-clickable:hover {
  background: var(--mat-sys-surface-container-high);
  cursor: pointer;
  border-radius: 8px;
}

.details-header {
  min-width: 100px;
  font-weight: 500;
}

.details-line {
  color: var(--mat-sys-on-surface-variant);
  min-width: 100px;
  font-weight: 300;
}
