

.edge-container-margin-left {
  margin-left: 16px;
  margin-bottom: 16px;
}

.edge-container-buttons a {
  margin-right: 12px;
}

.heading {
  margin-left: 16px;
}

.heading {
  display: flex;
  align-items: center;
}

.heading h3 {
  flex-grow: 1;
  margin: 0;
}

.heading :last-child {
  flex-grow: 0;
}

.install-details {
  flex: 0 0 auto;
  margin-bottom: 16px;
}

.install-version {
  margin-bottom: 8px;
}

.install-header {
  min-width: 100px;
  font-weight: 500;
  color: #333;
}

.install-line {
  color: var(--mat-card-subtitle-text-color);
  min-width: 100px;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.install-alert {
  min-width: 100px;
  min-height: 36px;
  text-align: right;
}
