<div class="edge-container">
  <div class="heading">
    <h3>Details</h3>

    <button
      mat-icon-button
      [disabled]="isFirst()"
      (click)="navigate(-1)"
      matTooltip="Previous"
      aria-label="Previous Deploy">
      <mat-icon>navigate_before</mat-icon>
    </button>

    <button
      mat-icon-button
      [disabled]="isLast()"
      (click)="navigate(1)"
      matTooltip="Next"
      aria-label="Next Deploy">
      <mat-icon>navigate_next</mat-icon>
    </button>

    @if (current && current.intention) {
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
      <mat-menu #menu="matMenu">
        @if (current && current.intention) {
          <button mat-menu-item (click)="viewIntention(current.intention)">View Intention</button>
        }
        @if (current && current.source?.action.source?.intention) {
          <button mat-menu-item (click)="viewIntention(current.source.action.source.intention)">View Build</button>
        }
        @if (current && current.source?.action.package?.id) {
          <button mat-menu-item (click)="openServicePackage(current.source.action.service.id, current.source.action.package.id)">View Package</button>
        }
        <mat-divider></mat-divider>
        @if (current && current.source?.intention?.event.url) {
          <a
            mat-menu-item
            matTooltip="Access to event log may be restricted"
            matTooltipPosition="left"
            matTooltipShowDelay="500"
            href="{{current.source.intention.event.url}}"
            target="_blank">View Event</a>
        }
        @if (current && current.source?.intention?.auditUrl) {
          <a
            mat-menu-item
            href="{{current.source.intention.auditUrl}}"
            target="_blank">View Audit</a>
        }
      </mat-menu>
    }
  </div>
</div>
@if (pointers()) {
  @if (!current || !current.source?.intention) {
    <div class="edge-container edge-container-margin-left">No recorded installation</div>
  }
  @if (current && current.source?.intention) {
    <div class="edge-container edge-container-margin-left install-details">
      <div class="install-version">
        <app-outcome-icon
          [outcome]="current.source.intention.transaction.outcome"></app-outcome-icon>

          @if (current.source?.action?.package?.version) {
            {{current.source.action.package.version}}
          }
      </div>

      <div class="details-item">
        <div class="details-header">Installed</div>
        <div class="details-line">{{current.source.intention.transaction.start | date:'short'}}</div>
      </div>


      <div
        class="details-item details-item-clickable"
        matRipple
        (click)="openUserInBrowserByGuid(current.source.intention.user.id)">
        <div class="details-header">User</div>
        <div class="details-line">{{current.source.intention.user.name}}</div>
      </div>
    </div>
  }
}
