@let filteredKv = filteredCollectionData | keyvalue;
@if (filteredKv && filteredKv.length > 0 && collectionConfig()) {
  <table mat-table [dataSource]="filteredKv">
    <!-- Key Column -->
    <ng-container matColumnDef="key">
      <th mat-header-cell
        *matHeaderCellDef> Key </th>
      <td mat-cell
        *matCellDef="let element"><span [matTooltip]="collectionConfig().fields[element.key].hint"
        matTooltipShowDelay="500"
        matTooltipPosition="right">{{collectionConfig().fields[element.key].name}}</span> </td>
    </ng-container>
    <!-- Value Column -->
    <ng-container matColumnDef="value">
      <th
        mat-header-cell
        *matHeaderCellDef> Value </th>
      <td mat-cell
        *matCellDef="let element">
        <app-inspector-vertex-field
          [config]="getFieldConfig(element.key)"
          [value]="element.value"></app-inspector-vertex-field>
      </td>
    </ng-container>
    <tr mat-header-row
      *matHeaderRowDef="propDisplayedColumns"></tr>
    <tr mat-row
      *matRowDef="let row; columns: propDisplayedColumns;"></tr>
  </table>
}
