<div class="details-container">
  <span [matMenuTriggerFor]="projectMenu">
    <app-details-item
      item="Project"
      clickable="true"
      (click)="openCollectionFromAction($event, 'project', 'name', 'service.project')">
      <app-action-content
        [intention]="intention()"
        key="service.project"
        showMultiple="true"></app-action-content>
    </app-details-item>
  </span>
  <mat-menu #projectMenu="matMenu">
    @for (value of intentionUtil.actionValueSet(intention(), 'service.project'); track value) {
      <button mat-menu-item (click)="openCollection($event, 'project', 'name', value)">{{ value }}</button>
    }
  </mat-menu>

  <span [matMenuTriggerFor]="serviceMenu">
    <app-details-item
      item="Services"
      clickable="true"
      (click)="openCollectionFromAction($event, 'service', 'name', 'service.name')">
      <app-action-content
        [intention]="intention()"
        key="service.name"
        showMultiple="true"></app-action-content>
    </app-details-item>
  </span>
  <mat-menu #serviceMenu="matMenu">
    @for (value of intentionUtil.actionValueSet(intention(), 'service.name'); track value) {
      <button mat-menu-item (click)="openCollection($event, 'service', 'name', value)">{{ value }}</button>
    }
  </mat-menu>

  @let intentionStart = intention().transaction?.start;
  <app-details-item item="Start">
    @if (intentionStart) {
      {{ intentionStart | date:'medium' }}
    } @else {
      Unknown
    }</app-details-item>

  @let intentionEnd = intention().transaction?.end;
  <app-details-item item="End">
    @if (intentionEnd) {
      {{intentionEnd | date:'medium' }}
    } @else {
      Unknown
    }
  </app-details-item>

  @let outcome = intention().transaction?.outcome;
  <app-details-item item="Outcome">@if (outcome) {
    <app-outcome-icon
          [outcome]="outcome"></app-outcome-icon>
        {{outcome | titlecase}}
      } @else {
        <mat-progress-bar mode="determinate" [value]="intentionUtil.normalizedProgress(intention())"></mat-progress-bar>
      }</app-details-item>

  <app-details-item item="Reason">{{ intention().event.reason}}</app-details-item>

  <app-details-item item="Provider">{{ intention().event.provider}}</app-details-item>

  @let userId = intention().user.id;
  @if (userId) {
  <app-details-item
    (click)="openCollection($event, 'user', 'guid', userId)"
    item="User"
    clickable="true">{{ intention().user.name }}</app-details-item>
  }

  @let duration = intentionUtil.totalDuration(intention());
  @if (duration) {
    <app-details-item item="Duration">{{ duration }}</app-details-item>
  }
</div>
@if (brokerAccountResource.hasValue()) {
<div class="expanded-header-actions">
  <h2>Broker Account</h2>
  <button
    mat-stroked-button
    (click)="openCollection($event, 'brokerAccount', 'id', brokerAccountResource.value().id )">View Account</button>
  <button
    mat-stroked-button
    (click)="openBrokerAccountHistory(brokerAccountResource.value().id)">View History</button>
</div>

<div class="details-container">
  <app-details-item item="Client Id" clickable="true" (click)="openCollection($event, 'brokerAccount', 'id', brokerAccountResource.value().id )">
    {{ brokerAccountResource.value().clientId }}
  </app-details-item>

  <app-details-item item="Name">
    {{ brokerAccountResource.value().name }}
  </app-details-item>
</div>
}
<div class="action-container">
  <div class="expanded-header-actions">
    <h2>Actions</h2>
    @if (intention().transaction?.duration) {
      <span>Duration: {{intentionUtil.totalDuration(intention())}}</span>
    }
  </div>
  @for (action of intention().actions; track action.id) {
    <div class="expanded-header-container">
      <h3>
      <app-outcome-icon
        [outcome]="action.trace?.outcome"></app-outcome-icon>
        <a
          role="link"
          tabindex="0"
          aria-label="Open project {{action.service.project}}"
          (click)="openCollection($event, 'project', 'name', action.service.project)"
          (keydown.enter)="openCollection($event, 'project', 'name', action.service.project)"
          >{{action.service.project}}</a> /
        <a
          role="link"
          tabindex="0"
          aria-label="Open service {{action.service.name}}"
          (click)="openCollection($event, 'service', 'name', action.service.name)"
          (keydown.enter)="openCollection($event, 'service', 'name', action.service.name)"
          >{{action.service.name}}</a>
        #{{action.id}} @if (action.package && action.package.buildNumber) {: build {{action.package.buildNumber}}}</h3>
      <div>Environment: <b>{{action.service.environment}}</b></div>
    </div>

    @if (action.ruleViolation) {

      <app-details-item item="Rule Violation">
        {{ action.ruleViolation.message }}
      </app-details-item>

      <app-details-item item="Value">
        {{ getActionValue(action, action.ruleViolation.key) }} ({{ action.ruleViolation.key }})
      </app-details-item>
   }

    @if (action.trace?.duration) {
      <app-gantt-graph [intention]="intention()" [action]="action"></app-gantt-graph>
    }

    @if (action.artifacts) {
      <div class="expanded-header-actions">
        <h2>Artifacts</h2>
        @if (action.package && action.package.buildVersion) {
          <a mat-button
            [cdkCopyToClipboard]="action.package.buildVersion"
            [cdkCopyToClipboardAttempts]="5"
            >Copy SCM Version<mat-icon iconPositionEnd fontIcon="content_copy"></mat-icon></a>
          <a mat-stroked-button
            role="button"
            tabindex="0"
            (click)="openPackageBuildVersion(action.service.id, action.package.buildVersion)"
            (keydown.enter)="openPackageBuildVersion(action.service.id, action.package.buildVersion)"
            matTooltip="Access to this content may be restricted"
            matTooltipShowDelay="500"
            aria-label="Open SCM for package build version"
            >Open SCM<mat-icon iconPositionEnd fontIcon="open_in_new"></mat-icon></a>
        }
      </div>
      <div class="artifact-container {{ screenSize }}">
        @for (artifact of action.artifacts; track artifact.name) {
          <mat-card
            class="artifact-card"
            appearance="outlined">
            <mat-card-header>
              <mat-card-title>@if (artifact.name) {
                {{artifact.name}}
              } @else {
                Unknown
              }</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="package-info">
                <div class="package-info-wrap">
                @if (action.package?.version) {
                  <app-details-item item="Version">{{action.package?.version}}</app-details-item>
                }
                @if (artifact.size) {
                  <app-details-item item="Size">{{artifact.size | filesize}}</app-details-item>
                }
                @if (action.package?.type) {
                  <app-details-item item="Type">{{action.package?.type}}</app-details-item>
                }
                </div>
                @if (artifact.checksum) {
                  <app-details-item item="Hash">{{artifact.checksum}}</app-details-item>
                }
              </div>
            </mat-card-content>
            @if (action.package?.id) {
            <mat-card-actions align="end">
              <button
                mat-button
                (click)="viewPackage(action)">View Package</button>
            </mat-card-actions>
            }
          </mat-card>
        }
      </div>
    }
    @if (action.action === "package-installation" && action.package) {
      <div class="expanded-header-actions">
        <h2>Package</h2>
        @if (action.package && action.package.buildVersion) {
          <a mat-button
            [cdkCopyToClipboard]="action.package.buildVersion"
            [cdkCopyToClipboardAttempts]="5"
            >Copy SCM Version<mat-icon iconPositionEnd fontIcon="content_copy"></mat-icon></a>
          <a mat-stroked-button
            role="button"
            tabindex="0"
            aria-label="Open SCM for package build version"
            (click)="openPackageBuildVersion(action.service.id, action.package.buildVersion)"
            (keydown.enter)="openPackageBuildVersion(action.service.id, action.package.buildVersion)"
            matTooltip="Access to this content may be restricted"
            matTooltipShowDelay="500"
            >Open SCM<mat-icon iconPositionEnd fontIcon="open_in_new"></mat-icon></a>
        }
      </div>
      <div class="artifact-container {{ screenSize }}">
        <mat-card class="artifact-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title>{{action.package.name}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="package-info">
            @if (action.package.size) {
              <app-details-item item="Size">{{action.package.size | filesize}}</app-details-item>
            }
            @if (action.package.checksum) {
              <app-details-item item="Hash">{{action.package.checksum}}</app-details-item>
            }
            @if (action.package.version) {
              <app-details-item item="Version">{{action.package.version}}</app-details-item>
            }
            </div>
          </mat-card-content>
          @if (action.source?.intention) {
            <mat-card-actions align="end" >
              <button
                mat-button
                (click)="viewIntention(action.source?.intention)">View build</button>
            </mat-card-actions>
          }
        </mat-card>
      </div>
    }
  }
</div>