<div class="details-container">
  <app-details-item title="Project">
    <app-action-content
      [intention]="intention()"
      key="service.project"></app-action-content>
  </app-details-item>

  <app-details-item title="Services">
    <app-action-content
      [intention]="intention()"
      key="service.name"></app-action-content>
  </app-details-item>

  <app-details-item title="Reason">{{ intention().event.reason}}</app-details-item>
  <app-details-item title="Duration">{{ totalDuration(intention()) }}</app-details-item>
</div>
@if (brokerAccountResource.hasValue()) {
<div class="expanded-header-actions">
  <h3>Broker Account</h3>
  <button
    mat-stroked-button
    (click)="openCollection($event, 'brokerAccount', 'id', brokerAccountResource.value().id )">View Account</button>
  <button
    mat-stroked-button
    (click)="openBrokerAccountHistory(brokerAccountResource.value().id)">View History</button>
</div>

    <div class="details-container">

  <app-details-item title="Client Id" clickable="true" (click)="openCollection($event, 'brokerAccount', 'id', brokerAccountResource.value().id )">
    {{ brokerAccountResource.value().clientId }}
  </app-details-item>

  <app-details-item title="Name">
    {{ brokerAccountResource.value().name }}
  </app-details-item>
</div>
}
<div class="action-container">
  <div class="expanded-header-actions">
    <h3>Actions</h3>
    @if (intention().transaction?.duration) {
      <span>Duration: {{totalDuration(intention())}}</span>
    }
  </div>
  @for (action of intention().actions; track action.id) {
    <div class="expanded-header-container">
      <h5><a (click)="openCollection($event, 'project', 'name', action.service.project)"
        >{{action.service.project}}</a> / <a (click)="openCollection($event, 'service', 'name', action.service.name)"
        >{{action.service.name}}</a>
        #{{action.id}} @if (action.package && action.package.buildNumber) {: build {{action.package.buildNumber}}}</h5>
      <div>Environment: <b>{{action.service.environment}}</b></div>
    </div>
    <app-gantt-graph [intention]="intention()" [action]="action"></app-gantt-graph>

    @if (action.artifacts) {
      <div class="expanded-header-actions">
        <h3>Artifacts</h3>
        @if (action.package && action.package.buildVersion) {
          <a mat-button
            [cdkCopyToClipboard]="action.package.buildVersion"
            [cdkCopyToClipboardAttempts]="5"
            >Copy SCM Version<mat-icon iconPositionEnd fontIcon="content_copy"></mat-icon></a>
          <a mat-stroked-button
            (click)="openPackageBuildVersion(action.service.id, action.package.buildVersion)"
            matTooltip="Access to this content may be restricted"
            matTooltipShowDelay="500"
            >Open SCM<mat-icon iconPositionEnd fontIcon="open_in_new"></mat-icon></a>
        }
      </div>
      <div class="artifact-container {{ screenSize }}">
        @for (artifact of action.artifacts; track artifact.name) {
          <mat-card
            class="artifact-card"
            appearance="outlined">
            <mat-card-header>
              <mat-card-title>@if (artifact.name) {
                {{artifact.name}}
              } @else {
                Unknown
              }</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="package-info">
              @if (artifact.size) {
                <app-details-item title="Size">{{artifact.size | filesize}}</app-details-item>
              }
              @if (artifact.checksum) {
                <app-details-item title="Hash">{{artifact.checksum}}</app-details-item>
              }
              @if (action.package?.version) {
                <app-details-item title="Version">{{action.package?.version}}</app-details-item>
              }
            </div>
            </mat-card-content>
            @if (action.package?.id) {
            <mat-card-actions align="end">
              <button
                mat-button
                (click)="viewPackage(action)">View Package</button>
            </mat-card-actions>
            }
          </mat-card>
        }
      </div>
    }
    @if (action.action == "package-installation" && action.package) {
      <div class="expanded-header-actions">
        <h3>Package</h3>
        @if (action.package && action.package.buildVersion) {
          <a mat-button
            [cdkCopyToClipboard]="action.package.buildVersion"
            [cdkCopyToClipboardAttempts]="5"
            >Copy SCM Version<mat-icon iconPositionEnd fontIcon="content_copy"></mat-icon></a>
          <a mat-stroked-button
            (click)="openPackageBuildVersion(action.service.id, action.package.buildVersion)"
            matTooltip="Access to this content may be restricted"
            matTooltipShowDelay="500"
            >Open SCM<mat-icon iconPositionEnd fontIcon="open_in_new"></mat-icon></a>
        }
      </div>
      <div class="artifact-container {{ screenSize }}">
        <mat-card class="artifact-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title>{{action.package.name}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="package-info">
            @if (action.package.size) {
              <app-details-item title="Size">{{action.package.size | filesize}}</app-details-item>
            }
            @if (action.package.checksum) {
              <app-details-item title="Hash">{{action.package.checksum}}</app-details-item>
            }
            @if (action.package.version) {
              <app-details-item title="Version">{{action.package.version}}</app-details-item>
            }
            </div>
          </mat-card-content>
          @if (action.source?.intention) {
            <mat-card-actions align="end" >
              <button
                mat-button
                (click)="viewIntention(action.source?.intention)">View build</button>
            </mat-card-actions>
          }
        </mat-card>
      </div>
    }
  }
</div>