@if (layout() === 'normal') {
  <div class="expanded-header-actions">
    <h3>Actions</h3>
    @if (intention().transaction?.duration) {
      <span>Duration: {{totalDuration(intention())}}</span>
    }

    <button
      mat-stroked-button
      (click)="viewIntention(intention().id)">Link <mat-icon iconPositionEnd fontIcon="link"></mat-icon></button>
    @if (intention().event.url) {
      <a
        mat-stroked-button
        matTooltip="Access to event log may be restricted"
        matTooltipShowDelay="500"
        href="{{intention().event.url}}"
        target="_blank">View Event <mat-icon iconPositionEnd fontIcon="open_in_new"></mat-icon></a>
    }
    <a
      mat-stroked-button href="{{intention().auditUrl}}"
      target="_blank">View Audit <mat-icon iconPositionEnd fontIcon="open_in_new"></mat-icon></a>
  </div>
  @for (action of intention().actions; track action.id) {
    <div class="expanded-header-container">
      <h5><a (click)="openCollection($event, 'project', 'name', action.service.project)"
        >{{action.service.project}}</a> / <a (click)="openCollection($event, 'service', 'name', action.service.name)"
        >{{action.service.name}}</a>
        #{{action.id}} @if (action.package && action.package.buildNumber) {: build {{action.package.buildNumber}}}</h5>
      <div>Environment: <b>{{action.service.environment}}</b></div>
    </div>
    <app-gantt-graph [intention]="intention()" [action]="action"></app-gantt-graph>

    @if (action.artifacts) {
      <div class="expanded-header-actions">
        <h3>Artifacts</h3>
        @if (action.package && action.package.buildVersion) {
          <a mat-button
            [cdkCopyToClipboard]="action.package.buildVersion"
            [cdkCopyToClipboardAttempts]="5"
            >Copy SCM Version<mat-icon iconPositionEnd fontIcon="content_copy"></mat-icon></a>
          <a mat-stroked-button
            (click)="openPackageBuildVersion(action.service.id, action.package.buildVersion)"
            matTooltip="Access to source may be restricted"
            matTooltipShowDelay="500"
            >Open SCM<mat-icon iconPositionEnd fontIcon="open_in_new"></mat-icon></a>
        }
      </div>
      <div class="artifact-container">
        @for (artifact of action.artifacts; track artifact.name) {
          <mat-card class="artifact-card" appearance="outlined">
            <mat-card-header>
              <mat-card-title>@if (artifact.name) {
                {{artifact.name}}
              } @else {
                Unknown
              }</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="package-info">
              @if (artifact.size) {
                <div class="info-name">Size</div><div class="info-value">{{artifact.size | filesize}}</div>
              }
              @if (artifact.checksum) {
                <div class="info-name">Hash</div><div class="info-value">{{artifact.checksum}}</div>
              }
              @if (action.package?.version) {
                <div class="info-name">Version</div><div class="info-value">{{action.package?.version}}</div>
              }
            </div>
            </mat-card-content>
            @if (action.package?.id) {
            <mat-card-actions align="end">
              <button
                mat-button
                (click)="viewPackage(action)">View Package</button>
            </mat-card-actions>
            }
          </mat-card>
        }
      </div>
    }
    @if (action.action == "package-installation" && action.package) {
      <div class="expanded-header-actions">
        <h3>Package</h3>
        @if (action.package && action.package.buildVersion) {
          <a mat-button
            [cdkCopyToClipboard]="action.package.buildVersion"
            [cdkCopyToClipboardAttempts]="5"
            >Copy SCM Version<mat-icon iconPositionEnd fontIcon="content_copy"></mat-icon></a>
          <a mat-stroked-button
            (click)="openPackageBuildVersion(action.service.id, action.package.buildVersion)"
            matTooltip="Access to source may be restricted"
            matTooltipShowDelay="500"
            >Open SCM<mat-icon iconPositionEnd fontIcon="open_in_new"></mat-icon></a>
        }
      </div>
      <div class="artifact-container">
        <mat-card class="artifact-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title>{{action.package.name}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="package-info">
            @if (action.package.size) {
              <div class="info-name">Size</div><div class="info-value">{{action.package.size | filesize}}</div>
            }
            @if (action.package.checksum) {
              <div class="info-name">Hash</div><div class="info-value">{{action.package.checksum}}</div>
            }
            @if (action.package.version) {
              <div class="info-name">Version</div><div class="info-value">{{action.package.version}}</div>
            }
            </div>
          </mat-card-content>
          @if (action.source?.intention) {
            <mat-card-actions align="end" >
              <button
                mat-button
                (click)="viewIntention(action.source?.intention)">View build</button>
            </mat-card-actions>
          }
        </mat-card>
      </div>
    }
  }
} @else {
  <div class="narrow-heading">
    <h3>Details</h3>

    <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        (click)="navigateHistoryById(intention().id)">View intention()
      </button>
      @if (intention().event.url) {
        <a
          mat-menu-item
          matTooltip="Access to event log may be restricted"
          matTooltipPosition="left"
          matTooltipShowDelay="500"
          href="{{intention().event.url}}"
          target="_blank">View Event</a>
      }
      <a
        mat-menu-item
        href="{{intention().auditUrl}}"
        target="_blank">View Audit</a>
    </mat-menu>
  </div>

  <div class="narrow-container">
    <div class="narrow-header">Reason</div>
    <div class="narrow-line">{{intention().event.reason}}</div>


    <div class="narrow-header">User</div>
    <div class="narrow-line">{{intention().user.name ?? intention().user.id}}</div>

    @if (intention().transaction?.duration) {
      <div class="narrow-header">Duration</div>
      <div class="narrow-line">{{totalDuration(intention())}}</div>
    }
  </div>
}