
.expanded-header-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 12px;
  align-items: center;
}

.expanded-header-actions h2 {
  flex: 1;
  margin: 0;
}
.expanded-header-actions :not(:first-child) {
  margin-left: 12px;
}
.expanded-header-container {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  align-items: center;
}

.expanded-header-container :first-child {
  margin-right: 6px;
}

.expanded-header-container a {
  cursor: pointer;
}

.artifact-container {
  display: flex;
  margin: 12px 0;
  gap: 12px;
  flex-wrap: wrap;
}

.artifact-card {
  width: 33%;
  background: var(--mat-sys-surface-container-high);
}

.artifact-container.narrow .artifact-card {
  width: 50%;
}

.package-info {
  margin-top: 16px;
}

.package-info-wrap {
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 8px;
}

.package-info-wrap > * {
  width: calc(50% - 4px);
}

.mat-icon-status {
  line-height: 1em;
  vertical-align: -2px;
}

.details-container {
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  flex-wrap: wrap;
}

.details-container > * {
  width: calc(50% - 8px);
}

.action-container {
  margin-bottom: 32px;
}
