<h3>Properties</h3>

<div class="property-help">
  <small>Key-value pairs that describe the graph item.
@if (prototype()) {
    If a key has a defined meaning then an explanation will be shown below.
}
  </small>
</div>

@for (property of properties(); track property.key) {
  @if (getHint(property.key.value)) {
    <div class="property-hint">
      <small>{{ getHint(property.key.value) }}</small>
    </div>
  }
  <div class="property-editor-fields">
    <button
      (click)="removeProperty(property)"
      mat-mini-fab
      color="warn"
      aria-label="Remove property">
      <mat-icon>delete</mat-icon>
    </button>
    <mat-form-field  appearance="fill" >
      <mat-label>Key</mat-label>
      <input type="text" name="targetVertex"
        placeholder=""
        aria-label="Key"
        spellcheck="false"
        matInput
        [formControl]="property.key">
    </mat-form-field>
    <mat-form-field  appearance="fill" >
      <mat-label>Value</mat-label>
      <input type="text" name="targetVertex"
        placeholder=""
        aria-label="Value"
        spellcheck="false"
        matInput
        [formControl]="property.value">
    </mat-form-field>
  </div>
}
<div class="property-editor-actions">
  <button mat-mini-fab (click)="addProperty()" aria-label="Add property">
    <mat-icon>add</mat-icon>
  </button>
  @if (missingPropertiesLength() > 0) {
    <button
      mat-stroked-button
      [matTooltip]="'Add all properties with defined meanings (' + missingPropertiesLength() + ')'"
      matTooltipShowDelay="500"
      (click)="addAllMissingProperties()"
      aria-label="Add missing properties">
      Add missing
    </button>
  }
</div>