
.property-editor-fields {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.property-editor-fields:nth-child(1) {
  flex-grow: 0;
}

.property-editor-fields:nth-child(2) {
  flex-grow: 2;
}

.property-editor-fields:nth-child(3) {
  flex-grow: 3;
}

.property-hint {
  text-align: right;
}

.property-editor-actions {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 16px;
}

h3 {
  margin-bottom: 0;
}

.property-help {
  margin-bottom: 16px;
}

