/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

$theme: mat.define-theme(
  (
    color: (
      primary: mat.$violet-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

html, body { height: 100%; }
html {
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0
  ));
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --br-density-mini: 4px;
  --br-density-half: 8px;
  --br-density-full: 16px;
  --br-density-oneandhalf: 24px;
  --br-density-double: 32px;

  .toolbar-autocomplete {
    max-height: calc(100vh - 96px);
  }
  .toolbar-autocomplete-group > .mat-mdc-optgroup-label {
    min-height: var(--br-density-double);
    font-size: var(--mat-list-list-item-label-text-size, var(--mat-sys-body-large-size));
    font-weight: var(--mat-list-list-item-label-text-weight, var(--mat-sys-body-large-weight));
  }


  @include mat.sidenav-overrides((
    content-background-color: var(--mat-sys-surface-container-low),
  ));

  [color=primary] {
    @include mat.button-color($theme: $theme, $color-variant: 'primary');
    @include mat.icon-color($theme: $theme, $color-variant: 'primary');
  }

  [color=secondary] {
    @include mat.button-color($theme: $theme, $color-variant: 'secondary');
    @include mat.icon-color($theme: $theme, $color-variant: 'secondary');
  }

  [color=tertiary] {
    @include mat.button-color($theme: $theme, $color-variant: 'tertiary');
    @include mat.icon-color($theme: $theme, $color-variant: 'tertiary');
  }

  [color=warn] {
    @include mat.button-color($theme: $theme, $color-variant: 'error');
    @include mat.icon-color($theme: $theme, $color-variant: 'error');
  }
}