/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;
@use './_theme-colors' as theme;

$typography-family: ('BCSans', 'Noto Sans', Verdana, Arial, sans-serif);
$theme: mat.define-theme(
  (
    color: (
      primary: theme.$primary-palette,
      tertiary: theme.$tertiary-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

html, body { height: 100%; }
html {
  @include mat.theme((
    color: (
      primary: theme.$primary-palette,
      secondary: theme.$secondary-palette,
      tertiary: theme.$tertiary-palette,
    ),
    typography: $typography-family,
    density: 0,
  ),
  (
    on-surface-variant: light-dark(#43474f, #dfe2ec),
  ));
}
body { margin: 0; font-family: $typography-family; }

:root {
  --br-density-mini: 4px;
  --br-density-half: 8px;
  --br-density-full: 16px;
  --br-density-oneandhalf: 24px;
  --br-density-double: 32px;

  .toolbar-autocomplete {
    max-height: calc(100vh - 96px);
  }
  .toolbar-autocomplete-group > .mat-mdc-optgroup-label {
    min-height: var(--br-density-double);
    font-size: var(--mat-list-list-item-label-text-size, var(--mat-sys-body-large-size));
    font-weight: var(--mat-list-list-item-label-text-weight, var(--mat-sys-body-large-weight));
  }

  @include mat.table-overrides((
    header-headline-weight: 600,
  ));

  @include mat.sidenav-overrides((
    content-background-color: var(--mat-sys-surface-container-low),
  ));

  [color=primary] {
    @include mat.button-color($theme: $theme, $color-variant: 'primary');
    @include mat.icon-color($theme: $theme, $color-variant: 'primary');
  }

  [color=secondary] {
    @include mat.button-color($theme: $theme, $color-variant: 'secondary');
    @include mat.icon-color($theme: $theme, $color-variant: 'secondary');
  }

  [color=tertiary] {
    @include mat.button-color($theme: $theme, $color-variant: 'tertiary');
    @include mat.icon-color($theme: $theme, $color-variant: 'tertiary');
  }

  [color=warn] {
    @include mat.button-color($theme: $theme, $color-variant: 'error');
    @include mat.icon-color($theme: $theme, $color-variant: 'error');
  }
}

// Included this here because mat.theme doesn't add it
.mat-h1, .mat-headline-5, .mat-typography .mat-h1, .mat-typography .mat-headline-5, .mat-typography h1 {
    font: 400 24px/32px BCSans, Noto Sans, Verdana, Arial, sans-serif;
    letter-spacing: normal;
    margin:0 0 16px
}

.mat-h2, .mat-headline-6, .mat-typography .mat-h2, .mat-typography .mat-headline-6, .mat-typography h2 {
    font: 500 20px/32px BCSans, Noto Sans, Verdana, Arial, sans-serif;
    letter-spacing: .0125em;
    margin:0 0 16px
}

.mat-h3, .mat-subtitle-1, .mat-typography .mat-h3, .mat-typography .mat-subtitle-1, .mat-typography h3 {
    font: 400 16px/28px BCSans, Noto Sans, Verdana, Arial, sans-serif;
    letter-spacing: .009375em;
    margin:0 0 16px
}

.mat-h4, .mat-body-1, .mat-typography .mat-h4, .mat-typography .mat-body-1, .mat-typography h4 {
    font: 400 16px/24px BCSans, Noto Sans, Verdana, Arial, sans-serif;
    letter-spacing: .03125em;
    margin:0 0 16px
}

.mat-h5, .mat-typography .mat-h5, .mat-typography h5 {
    font: 400 11.62px/20px BCSans, Noto Sans, Verdana, Arial, sans-serif;
    margin:0 0 12px
}

.mat-h6, .mat-typography .mat-h6, .mat-typography h6 {
    font: 400 9.38px/20px BCSans, Noto Sans, Verdana, Arial, sans-serif;
    margin:0 0 12px
}

.mat-body-strong, .mat-subtitle-2, .mat-typography .mat-body-strong, .mat-typography .mat-subtitle-2 {
    font: 500 14px/22px BCSans, Noto Sans, Verdana, Arial, sans-serif;
    letter-spacing:.0071428571em
}

.mat-body, .mat-body-2, .mat-typography .mat-body, .mat-typography .mat-body-2, .mat-typography {
    font: 400 14px/20px BCSans, Noto Sans, Verdana, Arial, sans-serif;
    letter-spacing:.0178571429em
}

.mat-body p, .mat-body-2 p, .mat-typography .mat-body p, .mat-typography .mat-body-2 p, .mat-typography p {
    margin:0 0 12px
}

.mat-small, .mat-caption, .mat-typography .mat-small, .mat-typography .mat-caption {
    font: 400 12px/20px BCSans, Noto Sans, Verdana, Arial, sans-serif;
    letter-spacing:.0333333333em
}

.mat-headline-1, .mat-typography .mat-headline-1 {
    font: 300 96px/96px BCSans, Noto Sans, Verdana, Arial, sans-serif;
    letter-spacing: -.015625em;
    margin:0 0 56px
}

.mat-headline-2, .mat-typography .mat-headline-2 {
    font: 300 60px/60px BCSans, Noto Sans, Verdana, Arial, sans-serif;
    letter-spacing: -.0083333333em;
    margin:0 0 64px
}

.mat-headline-3, .mat-typography .mat-headline-3 {
    font: 400 48px/50px BCSans, Noto Sans, Verdana, Arial, sans-serif;
    letter-spacing: normal;
    margin:0 0 64px
}

.mat-headline-4, .mat-typography .mat-headline-4 {
    font: 400 34px/40px BCSans, Noto Sans, Verdana, Arial, sans-serif;
    letter-spacing: .0073529412em;
    margin:0 0 64px
}

