<mat-card class="inspector-card">
  @if (dataConfig) {
  <div
    #card
    (window:resize)="titleWidth=card.getBoundingClientRect().width"
    class="wrapper">
    <div class="fields-wrapper">
      <mat-card-header class="inspector-header">
        <mat-card-subtitle class="text-oneline" [style.width.px]="titleWidth - 130">
          @if (!target) {
            Click graph item to view
          }
          @if (target) {
            {{target.type | titlecase}}
          }
          @if (dataConfig.config && target && target.type === 'vertex') {
            - {{dataConfig.config[target.data.collection].name}}
          }
        </mat-card-subtitle>
        <mat-card-title class="text-oneline" [style.width.px]="titleWidth - 130">
          @if (target && collectionData && target.type === 'vertex') {
            <span class="inspector-header-link" routerLink="/browse/{{target.data.collection}}/{{collectionData.id}}">{{target.data.name}}</span>
          }
          @if (target && target.type === 'edge') {
            {{target.data.name | titlecase}}
          }
          @if (!target) {
            Inspector
          }
        </mat-card-title>
      </mat-card-header>
    </div>
    @if (target) {
      <div class="fields-wrapper">
        <button
          class="menu-btn"
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Inspector menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <ng-template matMenuContent>
            <button
              mat-menu-item
              [disabled]="!(user.roles.includes('admin') || hasUpdate) || (target.type === 'vertex' && dataConfig.config && !dataConfig.config[target.data.collection].permissions.update)"
              (click)="editTarget()">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            @if (target.type === 'edge') {
              <button
                mat-menu-item
                aria-label="Copy Id"
                [cdkCopyToClipboard]="getTargetId()">
                <mat-icon>content_copy</mat-icon>
                <span>Copy Id</span>
              </button>
            }
            @if (target.type === 'vertex') {
              <button
                mat-menu-item
                [disabled]="!user.roles.includes('admin')"
                (click)="editTags()">
                <mat-icon>label</mat-icon>
                <span>Add/Remove Tags</span>
              </button>
              <mat-divider></mat-divider>
              <button
                mat-menu-item
                aria-label="Copy Id"
                [cdkCopyToClipboard]="getTargetId()">
                <mat-icon>content_copy</mat-icon>
                <span>Copy Id</span>
              </button>
              <button
                mat-menu-item
                (click)="toggleNavigationFollows()">
                <mat-icon>{{this.navigationFollows === 'vertex' ? 'east' : 'radio_button_unchecked' }}</mat-icon>
                <span>{{this.navigationFollows === 'vertex' ? 'Follow Edge' : 'Follow Vertex'}}</span>
              </button>
            }
            <mat-divider></mat-divider>
            <button
              mat-menu-item
              [disabled]="!(user.roles.includes('admin') || hasDelete) || (target.type === 'vertex' && dataConfig.config && !dataConfig.config[target.data.collection].permissions.delete)"
              (click)="deleteTarget()">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </ng-template>
        </mat-menu>
      </div>
    }
  </div>
  <mat-card-content>
    <mat-divider></mat-divider>
    @if (target) {
      <div>
        @if (target.type === 'edge' && dataConfig.config && dataConfig.data) {
          <app-inspector-edge
            [target]="target"
            [graphData]="dataConfig.data"
            [collectionConfig]="dataConfig.config"
            (vertexSelected)="selectVertex($event)"
          ></app-inspector-edge>
        }
        @if (target.type === 'vertex' && dataConfig.config && dataConfig.data && collectionData) {
          <app-inspector-vertex
            [collection]="target.data.collection"
            [collectionConfig]="dataConfig.config[target.data.collection]"
            [collectionData]="collectionData"
            [outboundConnections]="outboundConnections"
            [hasSudo]="hasSudo"
            [hasUpdate]="hasUpdate"
          ></app-inspector-vertex>
          <div>
            <div class="wrapper vertex-edge-container">
              <div class="fields-wrapper">
                <h3 class="vertex-heading">Inbound</h3>
              </div>
              @if (dataConfig &&dataConfig.config && dataConfig.config[target.data.collection].edges.length > 0) {
                <div class="fields-wrapper" >
                  <button
                    mat-button
                    (click)="openDeleteEdgeDialog(inboundConnections)"
                    [disabled]="!user.roles.includes('admin') ||
                  (inboundConnections?.connections | keyvalue)?.length == 0">Delete</button>
                </div>
              }
            </div>
            @if ((inboundConnections?.connections | keyvalue)?.length == 0) {
              <p class="vertex-edge-type-container">None</p>
            }
            @for (group of $any(inboundConnections?.connections | keyvalue); track group.key) {
              <div class="vertex-edge-type-container">
                <h5>{{group.key | titlecase}}</h5>
                <mat-chip-listbox [selectable]="false">
                  @for (item of group.value; track item.vertex.id) {
                    <mat-chip-option (click)="navigateConnection($event, item)">@if (item.vertex.parentName) {
                      {{ item.vertex.parentName}} &gt;
                    }{{item.vertex.name}}</mat-chip-option>
                  }
                </mat-chip-listbox>
              </div>
            }
            <mat-divider></mat-divider>
            <div class="wrapper vertex-edge-container">
              <div class="fields-wrapper">
                <h3 class="vertex-heading">Outbound</h3>
              </div>
              @if (dataConfig.config && dataConfig.config[target.data.collection].edges.length > 0) {
                <div class="fields-wrapper" >
                  <button
                    mat-button
                    (click)="addEdgeToVertex(target.data)"
                    [disabled]="!user.roles.includes('admin')">Add</button>
                  <button
                    mat-button
                    (click)="openDeleteEdgeDialog(outboundConnections)"
                    [disabled]="!user.roles.includes('admin') ||
                  (outboundConnections?.connections | keyvalue)?.length == 0">Delete</button>
                </div>
              }
            </div>
            @if ((outboundConnections?.connections | keyvalue)?.length == 0) {
              <p class="vertex-edge-type-container">None</p>
            }
            @for (group of $any(outboundConnections?.connections | keyvalue); track group.key) {
              <div class="vertex-edge-type-container">
                <h5>{{group.key | titlecase}}</h5>
                <mat-chip-listbox [selectable]="false">
                  @for (item of group.value; track item.vertex.id) {
                    <mat-chip-option
                      (click)="navigateConnection($event, item)">@if (item.vertex.parentName) {
                      {{ item.vertex.parentName}} &gt;
                    } {{item.vertex.name}}</mat-chip-option>
                  }
                </mat-chip-listbox>
              </div>
            }
            <mat-divider></mat-divider>
            @if (dataConfig.data && collectionPeople && collectionPeople.length > 0) {
              <div class="wrapper vertex-edge-container">
                <div class="fields-wrapper">
                  <h3 class="vertex-heading">People</h3>
                </div>
                <table mat-table [dataSource]="collectionPeople">
                  <!-- Type Column -->
                  <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef> Role </th>
                    <td mat-cell *matCellDef="let element"> {{element.path.name}} </td>
                  </ng-container>
                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.collection.name}} </td>
                  </ng-container>
                  <!-- Name Column -->
                  <ng-container matColumnDef="via">
                    <th mat-header-cell *matHeaderCellDef> Via </th>
                    <td mat-cell *matCellDef="let element"> {{dataConfig.data.idToVertex[element.path.target].name}}
                        ({{ dataConfig.data.idToVertex[element.path.target].collection }})
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="propPeopleDisplayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: propPeopleDisplayedColumns;"></tr>
                </table>
                <mat-divider></mat-divider>
              </div>
            }
          </div>
        }
        @if (target && target.data.prop) {
          <div>
            <h3 class="property-heading">Properties</h3>
            <table mat-table [dataSource]="target.data.prop | keyvalue">
              <!-- Key Column -->
              <ng-container matColumnDef="key">
                <th mat-header-cell *matHeaderCellDef> Key </th>
                <td mat-cell *matCellDef="let element"> {{element.key}} </td>
              </ng-container>
              <!-- Value Column -->
              <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef> Value </th>
                <td mat-cell *matCellDef="let element"> {{element.value}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="propDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: propDisplayedColumns;"></tr>
            </table>
          </div>
        }
      </div>
    }
  </mat-card-content>
  }
</mat-card>
