<mat-card class="inspector-card" appearance="outlined">
  @if (configMap) {
  <div
    #card
    (window:resize)="titleWidth=card.getBoundingClientRect().width"
    class="wrapper">
    <div class="fields-wrapper">
      <mat-card-header class="inspector-header">
        <mat-card-subtitle class="text-oneline" [style.width.px]="titleWidth - 130">
          @if (!target) {
            Click graph item to view
          }
          @if (target) {
            {{target.type | titlecase}}
          }
          @if (target && target.type === 'vertex') {
            - {{configMap[target.collection].name}}
          }
        </mat-card-subtitle>
        <mat-card-title class="text-oneline" [style.width.px]="titleWidth - 130">
          @if (comboData && comboData.type === 'vertex') {
            <span class="inspector-header-link" routerLink="/browse/{{comboData.vertex.collection}}/{{comboData.collection.id}}">{{comboData.vertex.name}}</span>
          }
          @if (comboData && comboData.type === 'edge') {
            {{comboData.edge.name | titlecase}}
          }
          @if (!target) {
            Inspector
          }
        </mat-card-title>
      </mat-card-header>
    </div>
    @if (target) {
      <div class="fields-wrapper">
        <button
          class="menu-btn"
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Inspector menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <ng-template matMenuContent>
            <button
              mat-menu-item
              [disabled]="!hasUpdate || (target.type === 'vertex' && !configMap[target.collection].permissions.update)"
              (click)="editTarget()">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            @if (target.type === 'edge') {
              <button
                mat-menu-item
                aria-label="Copy Id"
                [cdkCopyToClipboard]="getTargetId()">
                <mat-icon>content_copy</mat-icon>
                <span>Copy Edge Id</span>
              </button>
            }
            @if (target.type === 'vertex') {
              <button
                mat-menu-item
                [disabled]="!hasUpdate || (!configMap[target.collection].permissions.update)"
                (click)="editTags()">
                <mat-icon>label</mat-icon>
                <span>Add/Remove Tags</span>
              </button>
              <mat-divider></mat-divider>
              <button
                mat-menu-item
                aria-label="Copy Id"
                [cdkCopyToClipboard]="getTargetId()">
                <mat-icon>content_copy</mat-icon>
                <span>Copy Vertex Id</span>
              </button>
              <button
                mat-menu-item
                (click)="toggleNavigationFollows()">
                <mat-icon>{{this.navigationFollows === 'vertex' ? 'east' : 'radio_button_unchecked' }}</mat-icon>
                <span>{{this.navigationFollows === 'vertex' ? 'Follow Edge' : 'Follow Vertex'}}</span>
              </button>
            }
            <mat-divider></mat-divider>
            <button
              mat-menu-item
              [disabled]="!hasDelete || (target.type === 'vertex' && !configMap[target.collection].permissions.delete)"
              (click)="deleteTarget()">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </ng-template>
        </mat-menu>
      </div>
    }
  </div>
  <mat-card-content>
    <mat-divider></mat-divider>
    @if (comboData) {
      <div>
        @if (comboData.type === 'edge') {
          <app-inspector-edge
            [edge]="comboData.edge"
            [sourceVertex]="comboData.source"
            [targetVertex]="comboData.target"
            (vertexSelected)="selectVertex($event)"
          ></app-inspector-edge>
        }
        @if (comboData.type === 'vertex') {
          <app-inspector-vertex
            [collection]="comboData.vertex.collection"
            [collectionConfig]="configMap[comboData.vertex.collection]"
            [comboData]="comboData"
            [hasSudo]="hasSudo"
            [hasUpdate]="hasUpdate"
            ></app-inspector-vertex>

          <app-inspector-connections
            [collection]="comboData.vertex.collection"
            [config]="configMap[comboData.vertex.collection]"
            [vertex]="comboData.collection.vertex"
            [source]="comboData.vertex"
            [upstream]="comboData.upstream"
            [downstream]="comboData.downstream"
            [hasAdmin]="hasAdmin"
            (selected)="navigate($event)"
            ></app-inspector-connections>
        }
        @if (comboData.type === 'edge') {
          @if (comboData.edge.prop) {
            <app-inspector-properties
              [prop]="comboData.edge.prop"></app-inspector-properties>
          }
          <app-inspector-timestamps
            [timestamps]="comboData.edge.timestamps"></app-inspector-timestamps>
        }
        @if (comboData.type === 'vertex') {
          @if (comboData.vertex.prop) {
            <app-inspector-properties
              [prop]="comboData.vertex.prop"></app-inspector-properties>
          }
          <app-inspector-timestamps
            [timestamps]="comboData.vertex.timestamps"></app-inspector-timestamps>
        }
      </div>
    }
  </mat-card-content>
  }
</mat-card>
