<h2 mat-dialog-title>Secrets Sync Help</h2>
<mat-dialog-content>

  <p>
    The secrets sync process copies tool secrets from Vault to a repository's GitHub secrets.
    Secrets are transferred with the same names as in Vault; however, they may be modified to
    comply with GitHub's naming restrictions. To avoid issues during transfer, please refer to
    GitHub's secret naming restrictions when creating tool secrets.
  </p>
  <p>
    Since multiple services can be linked to the same repository, the secrets sync may copy
    multiple tool secrets to a single GitHub repository.
  </p>

  <p>Repositories must grant access to Broker's GitHub App before enabling sync.</p>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>