<div class="form-group row" [formGroup]="form">
  @switch (field.type) {
    @case ('string') {
      <mat-form-field appearance="fill">
        @if (field.name) {
          <mat-label>{{field.name}}</mat-label>
        }
        <input
          matInput
          [formControlName]="field.key"
          placeholder="{{field.placeholder ? field.placeholder : ''}}"
          value="">
        @if (field.hint) {
          <mat-hint>{{field.hint}}</mat-hint>
        }
      </mat-form-field>
    }
    @case ('number') {
      <mat-form-field appearance="fill">
        @if (field.name) {
          <mat-label>{{field.name}}</mat-label>
        }
        <input
          matInput
          [formControlName]="field.key"
          placeholder="{{field.placeholder ? field.placeholder : ''}}"
          value="">
        @if (field.hint) {
          <mat-hint>{{field.hint}}</mat-hint>
        }
      </mat-form-field>
    }
    @case ('stringArray') {
      <mat-form-field appearance="fill">
        @if (field.name) {
          <mat-label>{{field.name}}</mat-label>
        }
        <input
          matInput
          [formControlName]="field.key"
          placeholder="{{field.placeholder ? field.placeholder : ''}}"
          value="">
        @if (field.hint) {
          <mat-hint>{{field.hint}}</mat-hint>
        }
      </mat-form-field>
    }
    @case ('email') {
      <mat-form-field appearance="fill">
        @if (field.name) {
          <mat-label>{{field.name}}</mat-label>
        }
        <input
          matInput
          [formControlName]="field.key"
          placeholder="{{field.placeholder ? field.placeholder : ''}}"
          type="email"
          value="">
        @if (field.hint) {
          <mat-hint>{{field.hint}}</mat-hint>
        }
      </mat-form-field>
    }
    @case ('boolean') {
      <section appearance="fill">
        <mat-checkbox
          matTooltip="{{field.hint}}"
          matTooltipPosition="after"
          [formControlName]="field.key">{{field.name}}</mat-checkbox>
        <!-- <mat-hint *ngIf="field.hint">{{field.hint}}</mat-hint> -->
      </section>
    }
    @case ('url') {
      <mat-form-field appearance="fill">
        @if (field.name) {
          <mat-label>{{field.name}}</mat-label>
        }
        <input
          matInput
          [formControlName]="field.key"
          placeholder="{{field.placeholder ? field.placeholder : ''}}"
          type="url"
          value="">
        @if (field.hint) {
          <mat-hint>{{field.hint}}</mat-hint>
        }
      </mat-form-field>
    }
    @case ('select') {
      <mat-form-field appearance="fill">
        @if (field.name) {
          <mat-label>{{field.name}}</mat-label>
        }
          <mat-select [formControlName]="field.key">
            @for (option of field.options; track option) {
              <mat-option value="{{option.value}}">{{option.label}}</mat-option>
            }
          </mat-select>
        @if (field.hint) {
          <mat-hint>{{field.hint}}</mat-hint>
        }
      </mat-form-field>
    }
    @case ('date') {
      <mat-form-field appearance="fill">
        @if (field.name) {
          <mat-label>{{field.name}}</mat-label>
        }
        <input
          matInput
          [matDatepicker]="picker"
          [formControlName]="field.key"
          placeholder="{{field.placeholder ? field.placeholder : ''}}"
          type="url"
          value="">
        <mat-hint align="end">MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        @if (field.hint) {
          <mat-hint>{{field.hint}}</mat-hint>
        }
      </mat-form-field>
    }

    @case ('json') {
      <mat-form-field appearance="fill">
        @if (field.name) {
          <mat-label>{{field.name}}</mat-label>
        }
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="12"
          cdkAutosizeMaxRows="15"
          [formControlName]="field.key"
          placeholder="{{field.placeholder ? field.placeholder : ''}}"
          value=""></textarea>
        @if (field.hint) {
          <mat-hint>{{field.hint}}</mat-hint>
        }
      </mat-form-field>
    }
  }
</div>