<div
  class="form-group row"
  [formGroup]="form()">
  @let localField = field();
  @switch (localField.type) {
    @case ('string') {
      <mat-form-field appearance="fill">
        @if (localField.name) {
          <mat-label>{{localField.name}}</mat-label>
        }
        <input
          matInput
          [formControlName]="localField.key"
          placeholder="{{localField.placeholder ? localField.placeholder : ''}}"
          value="">
        @if (localField.hint) {
          <mat-hint>{{localField.hint}}</mat-hint>
        }
      </mat-form-field>
    }
    @case ('number') {
      <mat-form-field appearance="fill">
        @if (localField.name) {
          <mat-label>{{localField.name}}</mat-label>
        }
        <input
          matInput
          [formControlName]="localField.key"
          placeholder="{{localField.placeholder ? localField.placeholder : ''}}"
          value="">
        @if (localField.hint) {
          <mat-hint>{{localField.hint}}</mat-hint>
        }
      </mat-form-field>
    }
    @case ('stringArray') {
      <mat-form-field appearance="fill">
        @if (localField.name) {
          <mat-label>{{localField.name}}</mat-label>
        }
        <input
          matInput
          [formControlName]="localField.key"
          placeholder="{{localField.placeholder ? localField.placeholder : ''}}"
          value="">
        @if (localField.hint) {
          <mat-hint>{{localField.hint}}</mat-hint>
        }
      </mat-form-field>
    }
    @case ('email') {
      <mat-form-field appearance="fill">
        @if (localField.name) {
          <mat-label>{{localField.name}}</mat-label>
        }
        <input
          matInput
          [formControlName]="localField.key"
          placeholder="{{localField.placeholder ? localField.placeholder : ''}}"
          type="email"
          value="">
        @if (localField.hint) {
          <mat-hint>{{localField.hint}}</mat-hint>
        }
      </mat-form-field>
    }
    @case ('boolean') {
      <section appearance="fill">
        <mat-checkbox
          matTooltip="{{localField.hint}}"
          matTooltipPosition="after"
          [formControlName]="localField.key">{{localField.name}}</mat-checkbox>
        <!-- <mat-hint *ngIf="localField.hint">{{localField.hint}}</mat-hint> -->
      </section>
    }
    @case ('url') {
      <mat-form-field appearance="fill">
        @if (localField.name) {
          <mat-label>{{localField.name}}</mat-label>
        }
        <input
          matInput
          [formControlName]="localField.key"
          placeholder="{{localField.placeholder ? localField.placeholder : ''}}"
          type="url"
          value="">
        @if (localField.hint) {
          <mat-hint>{{localField.hint}}</mat-hint>
        }
      </mat-form-field>
    }
    @case ('select') {
      <mat-form-field appearance="fill">
        @if (localField.name) {
          <mat-label>{{localField.name}}</mat-label>
        }
          <mat-select [formControlName]="localField.key">
            @for (option of localField.options; track option) {
              <mat-option value="{{option.value}}">{{option.label}}</mat-option>
            }
          </mat-select>
        @if (localField.hint) {
          <mat-hint>{{localField.hint}}</mat-hint>
        }
      </mat-form-field>
    }
    @case ('date') {
      <mat-form-field appearance="fill">
        @if (localField.name) {
          <mat-label>{{localField.name}}</mat-label>
        }
        <input
          matInput
          [matDatepicker]="picker"
          [formControlName]="localField.key"
          placeholder="{{localField.placeholder ? localField.placeholder : ''}}"
          type="url"
          value="">
        <mat-hint align="end">MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        @if (localField.hint) {
          <mat-hint>{{localField.hint}}</mat-hint>
        }
      </mat-form-field>
    }

    @case ('json') {
      <mat-form-field appearance="fill">
        @if (localField.name) {
          <mat-label>{{localField.name}}</mat-label>
        }
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="12"
          cdkAutosizeMaxRows="15"
          [formControlName]="localField.key"
          placeholder="{{localField.placeholder ? localField.placeholder : ''}}"
          value=""></textarea>
        @if (localField.hint) {
          <mat-hint>{{localField.hint}}</mat-hint>
        }
      </mat-form-field>
    }
  }
</div>