<div class="form-group row" [formGroup]="form">
  <ng-container [ngSwitch]="field.type">

    <mat-form-field *ngSwitchCase="'string'" appearance="fill">
      <mat-label *ngIf="field.name">{{field.name}}</mat-label>
      <input matInput [formControlName]="field.name" placeholder="{{field.placeholder ? field.placeholder : ''}}" value="">
      <mat-hint *ngIf="field.hint">{{field.hint}}</mat-hint>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'stringArray'" appearance="fill">
      <mat-label *ngIf="field.name">{{field.name}}</mat-label>
      <input matInput [formControlName]="field.name" placeholder="{{field.placeholder ? field.placeholder : ''}}" value="">
      <mat-hint *ngIf="field.hint">{{field.hint}}</mat-hint>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'email'" appearance="fill">
      <mat-label *ngIf="field.name">{{field.name}}</mat-label>
      <input matInput [formControlName]="field.name" placeholder="{{field.placeholder ? field.placeholder : ''}}" type="email" value="">
      <mat-hint *ngIf="field.hint">{{field.hint}}</mat-hint>
    </mat-form-field>

    <section *ngSwitchCase="'boolean'" appearance="fill">
      <mat-checkbox matTooltip="{{field.hint}}" [formControlName]="field.name"> {{field.name}}</mat-checkbox>
      <!-- <mat-hint *ngIf="field.hint">{{field.hint}}</mat-hint> -->
    </section>

    <mat-form-field *ngSwitchCase="'url'" appearance="fill">
      <mat-label *ngIf="field.name">{{field.name}}</mat-label>
      <input matInput [formControlName]="field.name" placeholder="{{field.placeholder ? field.placeholder : ''}}" type="url" value="">
      <mat-hint *ngIf="field.hint">{{field.hint}}</mat-hint>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'json'" appearance="fill">
      <mat-label *ngIf="field.name">{{field.name}}</mat-label>
      <textarea matInput cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="12"
      cdkAutosizeMaxRows="15" [formControlName]="field.name" placeholder="{{field.placeholder ? field.placeholder : ''}}" value=""></textarea>
      <mat-hint *ngIf="field.hint">{{field.hint}}</mat-hint>
    </mat-form-field>

  </ng-container>
</div>