@let cd = comboData();
@if (!cd || (comboDataResource.isLoading() && !hideLoading())) {
  <mat-spinner></mat-spinner>
} @else {
  <app-collection-header
    [collection]="collection()"
    [title]="cd.collection.name"
    [upstream]="cd.upstream"
  >
  <div
    class="spaced-btn {{screen.screenSize()}} collection-btn">
    @if (screen.screenSize() === 'wide') {
      <button
        mat-button
        extended
        color="warn"
        [disabled]="!hasDelete || !config().permissions.delete"
        (click)="delete()">
        Delete
      </button>
    } @else {
      <button
        mat-icon-button
        color="warn"
        [disabled]="!hasDelete || !config().permissions.delete"
        (click)="delete()">
        <mat-icon>delete</mat-icon>
      </button>
    }
  </div>

  @if (screen.screenSize() === 'wide') {
    <button
      mat-stroked-button
      extended
      class="collection-btn"
      (click)="openInGraph()">
      View on Graph
    </button>
    <button
      mat-button
      extended
      class="collection-btn"
      [disabled]="!hasUpdate"
      (click)="editTags()">
      Tags
    </button>
    @if (collection() === 'brokerAccount') {
      <button
        mat-stroked-button
        extended
        class="collection-btn"
        [disabled]="!hasUpdate"
        (click)="openAccessToken()">
        Access Token
      </button>
    }
    @if (collection() === 'team') {
      <app-inspector-team
        class="collection-btn"
        [vertex]="cd.vertex.id"
        [name]="cd.collection.name"
        [screenSize]="screen.screenSize()"></app-inspector-team>
    }
    <button
      mat-button
      extended
      class="collection-btn"
      [disabled]="!hasUpdate || !config().permissions.update"
      (click)="edit()">
      Edit
    </button>
  } @else {
    <button
      mat-icon-button
      class="collection-btn"
      (click)="openInGraph()">
      <mat-icon>account_tree</mat-icon>
    </button>
    <button
      mat-icon-button
      class="collection-btn"
      [disabled]="!hasUpdate"
      (click)="editTags()">
      <mat-icon>label</mat-icon>
    </button>
    @if (collection() === 'brokerAccount') {
      <button
        mat-icon-button
        class="collection-btn"
        [disabled]="!hasUpdate"
        (click)="openAccessToken()">
        <mat-icon>account_box</mat-icon>
      </button>
    }
    @if (collection() === 'team') {
      <app-inspector-team
        class="collection-btn"
        [vertex]="cd.vertex.id"
        [name]="cd.collection.name"
        [screenSize]="screen.screenSize()"></app-inspector-team>
    }
    <button
      mat-icon-button
      class="collection-btn"
      [disabled]="!hasUpdate || !config().permissions.update"
      (click)="edit()">
      <mat-icon>edit</mat-icon>
    </button>
  }

</app-collection-header>
      @let localCollection = collection();
    <div class="inspector-card-layout inspector-tab-margin" [class]="screen.screenSize()">
      <div class="full-width vertex-tags-section">
        <app-vertex-tags
          [collection]="collection()"
          [collectionData]="cd.collection"></app-vertex-tags>
        <div class="slide-toggle-section">
          Show Help <mat-slide-toggle [checked]="showHelp()" (change)="showHelp.set(!showHelp())"></mat-slide-toggle>
        </div>
      </div>

      <div>
      <mat-card appearance="outlined" class="inspector-card-gap">
        <mat-card-content>
          <div class="card-title-container">
            <mat-card-title>Details</mat-card-title>
            <div>
              <button mat-icon-button [matMenuTriggerFor]="detailsMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #detailsMenu="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="detailsCopyMenu">
                  <mat-icon>content_copy</mat-icon>Copy
                </button>
              </mat-menu>

              <mat-menu #detailsCopyMenu="matMenu">
                <button
                  mat-menu-item
                  [cdkCopyToClipboard]="cd.collection.vertex"
                  >Vertex Id</button>
                <button
                  mat-menu-item
                  [cdkCopyToClipboard]="cd.collection.id"
                  >Collection Id</button>
                <mat-divider></mat-divider>
                @for (item of (config().fields | keyvalue); track item.key) {
                  @if (cd.collection[item.key] && (item.value.type === 'string' || item.value.type === 'email' || item.value.type === 'url')) {
                    <button
                      mat-menu-item
                      [cdkCopyToClipboard]="cd.collection[item.key]"
                      >{{ item.value.name }}</button>
                  }
                }
              </mat-menu>
            </div>
          </div>

          <app-inspector-vertex-fields
            [collection]="collection()"
            [collectionConfig]="config()"
            [collectionData]="cd.collection"
            [filter]="'no'"
            [showHelp]="showHelp()"
            ></app-inspector-vertex-fields>

          @let prop = vertexProperties();
          @if (prop) {
            <app-inspector-properties
              [showHelp]="showHelp()"
              [prop]="prop"></app-inspector-properties>
          }
          <app-inspector-timestamps
            [timestamps]="cd.vertex.timestamps"></app-inspector-timestamps>
        </mat-card-content>
      </mat-card>

      @if (localCollection === 'service') {
        <mat-card appearance="outlined">
          <mat-card-content>
            <div class="card-title-container">
              <mat-card-title>Secrets</mat-card-title>
            </div>
            <app-inspector-vault
              [service]="cd.collection"
              [isAdministrator]="hasSudo()"></app-inspector-vault>
            @if (hasSudo()) {
              <mat-divider></mat-divider>
              <app-inspector-service-secure
                [service]="cd.collection"></app-inspector-service-secure>
            }
          </mat-card-content>
        </mat-card>
      }

      @if (localCollection === 'team') {
        <mat-card appearance="outlined" class="inspector-card-gap">
          <mat-card-content>
            <div class="card-title-container">
              <mat-card-title>Members</mat-card-title>
              <div>
                <button
                  mat-stroked-button
                  (click)="openMemberDialog()"
                  class="card-team-member-button">
                  Edit
                </button>
              </div>
            </div>
            <div class="card-team-members-margin">
              <app-team-members
                [teamId]="cd.collection.id"
                [refresh]="refresh()"></app-team-members>
            </div>
          </mat-card-content>
        </mat-card>


        <mat-card appearance="outlined">
          <mat-card-content>
            <div class="card-title-container">
              <mat-card-title>Services</mat-card-title>
            </div>

            <div class="card-team-members-margin">
              @let permLocal = permissions();
              @if (permLocal) {
                <app-team-services
                  class="full-width order-end"
                  [showHelp]="showHelp()"
                  [userPermissions]="permLocal"
                  [teamVertex]="cd.collection.vertex"
                  (refresh)="updateCollection()"></app-team-services>
              }
            </div>
          </mat-card-content>
        </mat-card>
      }
        </div>

      <div>
        <mat-card class="inspector-card-gap" appearance="outlined">
          <mat-card-content>
            <div class="card-title-container">
              <mat-card-title>{{ config().name }}</mat-card-title>
            </div>

            <div class="card-content-container-full">{{ config().hint }}</div>

            @if (localCollection === 'brokerAccount' && cd.vertex.collection === localCollection) {
              <app-inspector-account
                [account]="collectionUtil.narrowCollectionType(localCollection, cd.vertex, cd.collection)"
                [hasSudo]="hasSudo()"
                [showHelp]="showHelp()"></app-inspector-account>
            }

            @if (hasSudo() && localCollection === 'repository' && cd.vertex.collection === localCollection) {
              <app-inspector-repository-sync
                [repository]="collectionUtil.narrowCollectionType(localCollection, cd.vertex, cd.collection)"
                [hasSudo]="hasSudo()"
                [header]="'large'"></app-inspector-repository-sync>
            }
            @if (localCollection === 'team') {

            <div class="card-title-container">
              <mat-card-title>Roles</mat-card-title>
            </div>
              @if(healthStatus.health$ | async; as health) {
                @if(health.details['github']['sync']) {
                  <div>
                    <button
                      mat-stroked-button
                      (click)="showGitHubRoleMappings()"
                      class="card-team-member-button">
                      GitHub Access Help
                    </button>
                  </div>
                }
              }

              <div class="card-team-members-margin">
                <app-team-roles></app-team-roles>
              </div>
            }

            @if (collection() === 'user') {
                <div class="card-title-container">
                  <mat-card-title>Alias</mat-card-title>
                </div>
                <app-user-alias
                [collection]="cd.collection"></app-user-alias>
            }

            <!-- @if (collection() === 'brokerAccount') {
              <div class="card-content-container">
                <button
                  class="{{screen.screenSize()}} collection-btn"
                  mat-stroked-button
                  extended
                  (click)="openBrokerAccountHistory()">
                  History
                </button>
              </div>
            } -->

            @if (collection() === 'serviceInstance') {
              <div class="card-content-container">
                <app-service-instance-details
                  [instance]="serviceInstanceDetails()"
                  [showName]="false"
                  ></app-service-instance-details>
              </div>
            }
            @if (collection() === 'service') {
              <div class="card-content-container card-content-container-nogutter">
                <app-inspector-instances
                  [service]="cd.collection"
                  [vertex]="cd.vertex"
                  [vertices]="cd.downstream"
                  [details]="serviceDetails()"></app-inspector-instances>
              </div>

              <div class="card-content-container">
                <button
                  class="{{screen.screenSize()}} collection-btn"
                  mat-stroked-button
                  extended
                  (click)="openServiceBuilds()">
                  Releases
                </button>
                <button
                  class="{{screen.screenSize()}} collection-btn"
                  mat-stroked-button
                  extended
                  (click)="openServiceHistory()">
                  History
                </button>
              </div>

            }
          </mat-card-content>
        </mat-card>

        <mat-card appearance="outlined">
          <mat-card-content>
            <div class="card-title-container">
              <mat-card-title>Connections</mat-card-title>
              <button mat-icon-button [matMenuTriggerFor]="connectionsMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #connectionsMenu="matMenu">
                <button mat-menu-item (click)="toggleHideRestricted()">
                  <mat-icon>{{hideRestricted() ? 'visibility' : 'visibility_off'}}</mat-icon>
                  <span>{{hideRestricted() ? 'Show All Edges' : 'Hide Restricted Edges'}}</span>
                </button>
                <button
                  mat-menu-item
                  (click)="toggleNavigationFollows()">
                  <mat-icon>{{this.navigationFollows() === 'vertex' ? 'east' : 'radio_button_unchecked' }}</mat-icon>
                  <span>{{this.navigationFollows() === 'vertex' ? 'Follow Edge' : 'Follow Vertex'}}</span>
                </button>
                @if (this.config().showUserRoles) {
                  <button mat-menu-item (click)="openUserRolesDialog()">
                    <mat-icon>people</mat-icon>
                    <span>User Roles</span>
                  </button>
                }
              </mat-menu>
            </div>
            @if (showHelp()) {
              <div class="card-content-container">
                <p><small>
                  On the graph, a collection object is a vertex that has directed edges that create ↓ (downstream)
                  and ↑ (upstream) connections. Downstream connections are sourced from this vertex. Upstream
                  connections target this vertex.
                </small></p>

                <p><small>
                  Restricted edges (<mat-icon inline="true" style="margin-bottom: -6px;">link_off</mat-icon>) adds supplemental
                  information to the vertex. Restricted edges are not directly followed as part of
                  graph lookups. In other words, it is metadata about the vertex, but not part of its core relationships.
                </small></p>
              </div>
            }
            <app-inspector-connections
              [comboData]="cd"
              [hasAdmin]="hasAdmin()"
              [hideRestricted]="hideRestricted()"
              (selected)="navigate($event)"
              ></app-inspector-connections>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
}