.inspector-tab-margin {
  margin: 16px 32px;
}

.inspector-tab-full-margin {
  margin: 32px;
}

.inspector-card-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}

.inspector-card-gap {
  margin-bottom: 16px;
}

.inspector-card-layout > * {
  width: calc(50% - 8px);
}

.inspector-card-layout.narrow > * {
  width: 100%;
}

.inspector-card-layout > .full-width {
  width: 100%;
}

.order-start {
  order: -10;
}

.order-end {
  order: 10;
}

.spaced-btn {
  padding-right: 32px;
}

.spaced-btn.narrow {
  padding-right: 0;
}

.collection-btn {
  margin: 0;
  margin-right: 12px;
}

.card-title-container {
  margin: 0 0 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title-container > *:first-child {
  line-height: 48px;
}

.card-title-container > * {
  margin: 0;
  flex-wrap: wrap;
}

.card-content-container {
  margin-left: 16px;
}

.card-content-container-full {
  margin-left: 16px;
  padding-bottom: 16px;
}

.card-team-members-margin {
  padding: 16px;
}

.card-team-member-button {
  margin-right: 16px;
}