.inspector-tab-margin {
  margin: 16px 32px;
}

.inspector-card-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}

.inspector-card-gap {
  margin-bottom: 16px;
}

.inspector-card-layout > * {
  width: calc(50% - 8px);
}

.inspector-card-layout.narrow > * {
  width: 100%;
}

.inspector-card-layout > .full-width {
  width: 100%;
}

.order-start {
  order: -10;
}

.order-end {
  order: 10;
}

.spaced-btn {
  padding-right: 32px;
}

.spaced-btn.narrow {
  padding-right: 0;
}

.collection-btn {
  margin: 0;
  margin-right: 12px;
}