@if (loading) {
  <mat-spinner></mat-spinner>
} @else {
  <app-collection-header
    [collection]="collection"
    [name]="comboData.collection.name"
    [screenSize]="screenSize"
  >
  <div
    class="spaced-btn {{screenSize}} collection-btn">
    @if (screenSize == 'wide') {
      <button
        mat-stroked-button
        extended
        color="warn"
        [disabled]="!hasDelete || !config.permissions.delete"
        (click)="delete()">
        Delete
      </button>
    } @else {
      <button
        mat-icon-button
        color="warn"
        [disabled]="!hasDelete || !config.permissions.delete"
        (click)="delete()">
        <mat-icon>delete</mat-icon>
      </button>
    }
  </div>

  @if (screenSize == 'wide') {
    <button
      mat-stroked-button
      extended
      color="primary"
      class="collection-btn"
      (click)="openInGraph()">
      View on Graph
    </button>
    <button
      mat-stroked-button
      extended
      color="primary"
      class="collection-btn"
      [disabled]="!hasUpdate"
      (click)="editTags()">
      Tags
    </button>
    @if (collection == 'team') {
      <app-inspector-team
        class="collection-btn"
        [vertex]="comboData.vertex"
        [name]="comboData.collection.name"
        [screenSize]="screenSize"></app-inspector-team>
    }
    <button
      mat-stroked-button
      extended
      color="primary"
      class="collection-btn"
      [disabled]="!hasUpdate || !config.permissions.update"
      (click)="edit()">
      Edit
    </button>
  } @else {
    <button
      mat-icon-button
      color="primary"
      class="collection-btn"
      (click)="openInGraph()">
      <mat-icon>account_tree</mat-icon>
    </button>
    <button
      mat-icon-button
      color="primary"
      class="collection-btn"
      [disabled]="!hasUpdate"
      (click)="editTags()">
      <mat-icon>label</mat-icon>
    </button>
    @if (collection == 'team') {
      <app-inspector-team
        class="collection-btn"
        [vertex]="comboData.vertex"
        [name]="comboData.collection.name"
        [screenSize]="screenSize"></app-inspector-team>
    }
    <button
      mat-icon-button
      color="primary"
      class="collection-btn"
      [disabled]="!hasUpdate || !config.permissions.update"
      (click)="edit()">
      <mat-icon>edit</mat-icon>
    </button>
  }

</app-collection-header>
  <mat-tab-group
    [animationDuration]="0"
    [selectedIndex]="selectedTabIndex"
    (selectedTabChange)="selectedTabChange($event)">
  <mat-tab label="Collection">
    <div class="inspector-card-layout inspector-tab-margin  {{ screenSize }}">
      <app-vertex-tags
        class="full-width"
        [collection]="collection"
        [collectionData]="comboData.collection"></app-vertex-tags>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-inspector-vertex-fields
            [collection]="collection"
            [collectionConfig]="config"
            [collectionData]="comboData.collection"
            [filter]="'no'"
            ></app-inspector-vertex-fields>
          @if (comboData.vertex.prop) {
            <app-inspector-properties
              [prop]="comboData.vertex.prop"></app-inspector-properties>
          }
          <app-inspector-timestamps
            [timestamps]="comboData.vertex.timestamps"></app-inspector-timestamps>
        </mat-card-content>
      </mat-card>

      <div>
        @if (collection === 'brokerAccount' && comboData.vertex.collection === collection) {
          <mat-card class="inspector-card-gap">
            <mat-card-content>
              <app-inspector-account
                [account]="collectionUtil.narrowCollectionType(collection, comboData.vertex, comboData.collection)"
                [userIndex]="4"
                [hasSudo]="hasSudo"></app-inspector-account>
            </mat-card-content>
          </mat-card>
        }
        <mat-card>
          <mat-card-header>
            <mat-card-title>Connections</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-inspector-connections
              [collection]="collection"
              [config]="config"
              [vertex]="comboData.collection.vertex"
              [source]="comboData.vertex"
              [upstream]="comboData.upstream"
              [downstream]="comboData.downstream"
              [hasAdmin]="hasAdmin"
              (selected)="navigate($event)"
              ></app-inspector-connections>
        </mat-card-content>
      </mat-card>
    </div>

      @if (collection === 'service' || collection === 'project' || collection === 'brokerAccount') {
        <mat-card>
          <mat-card-header>
            <mat-card-title>People</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-inspector-people
            [collection]="comboData.vertex.collection"
            [vertex]="comboData.collection.vertex"></app-inspector-people>
          </mat-card-content>
        </mat-card>
      }
    </div>
  </mat-tab>

  @if (collection === 'serviceInstance') {
    <mat-tab label="Details">
      <div class="inspector-tab-margin">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Instances</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-inspector-installs
              [instance]="comboData.collection"></app-inspector-installs>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
  }

  @if (collection === 'service') {
    <mat-tab label="Instances">
      <div class="inspector-tab-margin">
            <app-service-instances
              [service]="comboData.collection"
              [vertex]="comboData.vertex"
              [vertices]="comboData.downstream"
              [details]="serviceDetails"></app-service-instances>
      </div>
    </mat-tab>
    <mat-tab label="Secrets">
      <ng-template matTabContent>
      <div class="inspector-card-layout inspector-tab-margin  {{ screenSize }}">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Secrets</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-inspector-vault
              [service]="comboData.collection"
              [isAdministrator]="hasSudo"></app-inspector-vault>
            @if (hasSudo) {
              <mat-divider></mat-divider>
              <app-inspector-service-secure
                [service]="comboData.collection"></app-inspector-service-secure>
            }
          </mat-card-content>
        </mat-card>
      </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Builds">
      <ng-template matTabContent>
      <div class="inspector-tab-margin">
        <mat-card>
          <mat-card-content>
            @if (serviceDetails) {
            <app-service-builds
              [serviceId]="comboData.collection.id"
              [isApprover]="hasSudo || hasApprove"></app-service-builds>
            }
          </mat-card-content>
        </mat-card>
      </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="Activity">
      <ng-template matTabContent>
      <div class="inspector-card-layout inspector-tab-margin  {{ screenSize }}">
        <mat-card class="full-width order-end">
          <mat-card-header>
            <mat-card-title>Intentions</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-inspector-intentions
              [id]="comboData.collection.id"
              [name]="comboData.collection.name"
              [showHeader]="true"
              layout="normal"></app-inspector-intentions>
          </mat-card-content>
        </mat-card>
      </div>
      </ng-template>
    </mat-tab>
  }

  @if (collection === 'team') {
    <mat-tab label="Team">
      <div class="inspector-card-layout inspector-tab-margin  {{ screenSize }}">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Members</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-team-members
              [collectionData]="comboData.collection"
              [upstream]="comboData.upstream"></app-team-members>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-header>
            <mat-card-title>Summary</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-team-summary
              [collectionData]="comboData.collection"
              [upstream]="comboData.upstream"></app-team-summary>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Services">
      <div class="inspector-card-layout inspector-tab-margin  {{ screenSize }}">
        <app-team-services
        class="full-width order-end"
        [teamVertex]="comboData.collection.vertex"></app-team-services>
      </div>
    </mat-tab>
    <mat-tab label="Accounts">
      <div class="inspector-card-layout inspector-tab-margin  {{ screenSize }}">
        <app-team-accounts
          class="full-width order-end"
          [teamVertex]="comboData.collection.vertex"
          [config]="config"
          [hasSudo]="hasSudo"
          [hasUpdate]="hasUpdate"></app-team-accounts>
      </div>
    </mat-tab>
  }
  </mat-tab-group>
}
