@if (account()) {
  <div class="header-container">
    <div class="fields-wrapper">
      <button
        mat-button
        extended
        class="collection-btn"
        (click)="openAccessToken()">
        Access Token
      </button>
    </div>
    @if (lastJwtTokenData) {
      <div class="fields-wrapper">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [cdkCopyToClipboard]="lastJwtTokenData.JTI">
            <mat-icon>content_copy</mat-icon>Copy JTI
          </button>
        </mat-menu>
      </div>
    }
  </div>
  @if (!lastJwtTokenData) {
    <div class="fields-wrapper margin-top-medium">
      <p class="edge-container">This account has no active access token.</p>
    </div>
  } @else {
    <table class="margin-top-medium" mat-table [dataSource]="lastJwtTokenData | keyvalue">
      <!-- Key Column -->
      <ng-container matColumnDef="key">
        <th mat-header-cell *matHeaderCellDef> Key </th>
        <td mat-cell *matCellDef="let element"> {{element.key}} </td>
      </ng-container>
      <!-- Value Column -->
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Value </th>
        <td mat-cell *matCellDef="let element">
          <span class="ellipsis">
            @switch (element.key) {
                @case ('JTI') {
                  {{element.value}}
                }
                @case ('Expiry') {
                  @if (!expired) {
                    <mat-icon class="mat-icon-status" inline="true" color="primary">check_circle_outline</mat-icon>
                  } @else {
                    <mat-icon class="mat-icon-status" inline="true" color="warn">dangerous</mat-icon>
                  }
                  {{element.value | date:'medium'}}
                }
                @case ('Usage') {
                  <span
                    matTooltip="in last hour"
                    matTooltipShowDelay="500"
                    >
                    {{ element.value.success + element.value.unknown + element.value.failure }}
                    @if (element.value.failure > 0) {
                      / {{ element.value.failure }} failure(s)
                    }
                  </span>
                }
                @default {
                }
            }
          </span>
        </td>
      </ng-container>
      <tr mat-row *matRowDef="let row; columns: propDisplayedColumns;"></tr>
    </table>
  }
}