@if (account()) {
  <div class="header-container">
    <div class="fields-wrapper card-text">
      @if (display() === 'details') {
        <h2>Details</h2>
      } @else {
      <button
        mat-stroked-button
        extended
        class="collection-btn"
        (click)="openAccessToken()">
        Access Token
      </button>
      }
    </div>
    @let data = lastJwtTokenData();
      <div class="fields-wrapper">
        <!-- <section class="slide-toggle-section">
          Show Help <mat-slide-toggle [checked]="showHelp()" (change)="showHelp.set(!showHelp())"></mat-slide-toggle>
        </section> -->
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          class="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          @if (data) {
          <button
            mat-menu-item
            [cdkCopyToClipboard]="jtiValue()">
            <mat-icon>content_copy</mat-icon>Copy JTI
          </button>
          }
          <button
            mat-menu-item
            (click)="openBrokerAccountHistory()">
            <mat-icon>history</mat-icon>History
          </button>
        </mat-menu>
      </div>
  </div>
  @let lastJwtTokenDataKv = lastJwtTokenData();
  @if (accountTokensResource.isLoading()) {
    <mat-spinner></mat-spinner>
  }
  @else if (!lastJwtTokenDataKv) {
    <div class="margin-medium">
      <div class="card-text">This account has no active access token.</div>
    </div>
  } @else {
    <app-inspector-account-table
      [display]="display()"
      [tokenData]="lastJwtTokenDataKv"
      [showHelp]="showHelp()"
      ></app-inspector-account-table>
  }

  @let prevJwtTokenDataKv = prevJwtTokenData();
  @if (!prevJwtTokenDataKv || display() === 'table') {
    <!-- <div class="margin-medium">
      <div class="card-text">This account has no previous access token.</div>
    </div> -->
  } @else {
    <mat-accordion>
      <mat-expansion-panel multi>
        <mat-expansion-panel-header>
          <mat-panel-title> Previous </mat-panel-title>
        </mat-expansion-panel-header>
        <app-inspector-account-table
          [display]="display()"
          [tokenData]="prevJwtTokenDataKv"
          [showHelp]="showHelp()"
          ></app-inspector-account-table>
      </mat-expansion-panel>
    </mat-accordion>
  }
}