
.history-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}

.history-flex-container form {
  display: flex;
  column-gap: 8px;
  align-items: baseline;
}

.history-loader {
  width: 36px;
}

.history-table {
  margin: 16px;
}

.field-field {
  width: 9em;
}

.field-value {
  width: 12em;
}

.field-outcome {
  width: 9em;
}

table {
  width: 100%;
}

tr.history-detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
}

.expanded-header-container {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.expanded-header-container h3 {
  flex: 1;
}
.expanded-header-container a {
  margin-left: 12px;
}

.artifact-container {
  display: flex;
  margin: 12px 0;
  gap: 12px;
  flex-wrap: wrap;
}

.artifact-card {
  display: flex;
  width: 33%;
}

.artifact-card {
  background: whitesmoke;
}

.package-info {
  display: flex;
  flex-wrap: wrap;
}

.package-info .info-name {
  width:20%;
}
.package-info .info-value {
  width:80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}