.history-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}

.history-flex-container form {
  display: flex;
  column-gap: 8px;
  align-items: baseline;
}

.history-loader {
  width: 36px;
}

.history-table {
  margin: 16px;
}

.field-field {
  width: 10em;
}

.field-value {
  width: 9em;
}

.field-date-range {
  width: 16em;
}

.field-lifespan {
  width: 10em;
}

.field-outcome {
  width: 8em;
}

.warning-panel {
  width: 600px;
  margin: auto;
  margin-top: 50px;
  p {
    margin: 1.5em 0 3em;
  }
}