<div class="history-flex-container">
  <h1>History</h1>
</div>

<div class="history-flex-container">
  <form>
    <mat-form-field class="field-field">
      <mat-label>Field</mat-label>
      <mat-select [(ngModel)]="currentField" name="field">
        @for (field of fieldOptions; track field.value) {
          <mat-option [value]="field.value">
            {{field.viewValue}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    @if (currentField) {
      <mat-form-field class="field-value">
        <mat-label>Value</mat-label>
        <input
          matInput
          spellcheck="false"
          placeholder="Value"
          name="value"
          [(ngModel)]="currentValue"
          (keydown.enter)="$event.preventDefault()"
          (ngModelChange)="debouncedValueModelChange$.next($event)">
      </mat-form-field>
    }

    <mat-form-field class="field-date-range">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      @if (range.controls.start.hasError('matStartDateInvalid')) {
        <mat-error>Invalid start date</mat-error>
      }
      @if (range.controls.end.hasError('matEndDateInvalid')) {
        <mat-error>Invalid end date</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="field-lifespan">
      <mat-label>Lifespan</mat-label>
      <mat-select
        [value]="lifespan()"
        (selectionChange)="updateRoute({lifespan: $event.value, index: 0})"
        name="lifespan">
        @for (stat of lifespanOptions; track stat.value) {
          <mat-option [value]="stat.value">
            {{stat.viewValue}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="field-outcome">
      <mat-label>Outcome</mat-label>
      <mat-select
        [value]="status()"
        (selectionChange)="updateRoute({status: $event.value, index: 0})"
        name="status">
        @for (stat of statusOptions; track stat.value) {
          <mat-option [value]="stat.value">
            {{stat.viewValue}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="field-outcome">
      <mat-label>Environment</mat-label>
      <mat-select
        [value]="environment()"
        (selectionChange)="updateRoute({environment: $event.value, index: 0})"
        name="environment">
        @for (env of envOptions(); track env.value) {
          <mat-option [value]="env.value">
            {{env.viewValue}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <button
      mat-button
      aria-label="Clear"
      (click)="clear()">
      Clear
    </button>
  </form>
  <div class="history-loader">
    @if (intentionResource.isLoading()) {
      <mat-spinner diameter="20"></mat-spinner>
    }
  </div>
  <button
  mat-icon-button
  class="refresh"
  aria-label="Refresh Data"
  (click)="intentionResource.reload();">
    <mat-icon>refresh</mat-icon>
  </button>
</div>
@if (intentionResource.error()) {
  <app-page-error
    message="Bad search parameters"
    subMessage="Please check inputs. All 'ID' fields must be correctly formatted. Alternatively, click 'clear' to remove all filters"
    error=""
    [hideCode]="true"
    [hideBack]="true"
    ></app-page-error>
} @else {
  @if (intentionResource.hasValue() && intentionResource.value().meta.total === 0) {
    <mat-card class="warning-panel" appearance="outlined">
      <mat-card-header>
        <mat-card-title>No results found</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Click 'clear' to remove all filters</p>
      </mat-card-content>
    </mat-card>
  } @else {
    <mat-card class="history-table" appearance="outlined">
      <mat-card-content>
        @if (intentionResource.hasValue()) {
        <app-history-table
          [intentionData]="intentionResource.value().data"
          [layout]="screen.screenSize()"
          (viewIntentionEvent)="this.viewIntention($event)">
        </app-history-table>

        <mat-paginator
          [length]="intentionResource.value().meta.total"
          [pageIndex]="index()"
          [pageSize]="size()"
          [pageSizeOptions]="[5, 10, 25, 100]"
          (page)="handlePageEvent($event)"
          aria-label="Select page">
        </mat-paginator>
        }
      </mat-card-content>
    </mat-card>
  }
}