<div class="history-flex-container">
  <h1>History</h1>
</div>

<div class="history-flex-container">
  <form>
    <mat-form-field class="field-field">
      <mat-label>Field</mat-label>
      <mat-select [(ngModel)]="selectedField" name="field">
        <mat-option *ngFor="let field of fields" [value]="field.value">
          {{field.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="field-value" *ngIf="selectedField">
      <mat-label>Value</mat-label>
      <input matInput placeholder="Value" name="value" [(ngModel)]="fieldValue">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      @if (range.controls.start.hasError('matStartDateInvalid')) {
        <mat-error>Invalid start date</mat-error>
      }
      @if (range.controls.end.hasError('matEndDateInvalid')) {
        <mat-error>Invalid end date</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="field-outcome">
      <mat-label>Outcome</mat-label>
      <mat-select [(ngModel)]="selectedStatus" name="status">
        <mat-option *ngFor="let stat of status" [value]="stat.value">
          {{stat.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" aria-label="Filter" (click)="filter()">
      Filter
    </button>
    <button mat-stroked-button aria-label="Clear" (click)="clear()">
      Clear
    </button>
  </form>

  <div class="history-loader">
    <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
  </div>
  <button mat-icon-button class="refresh" aria-label="Refresh Data" (click)="refresh();">
    <mat-icon>refresh</mat-icon>
  </button>
</div>

<mat-card class="history-table">
  <mat-card-content>
    <table mat-table [dataSource]="intentionData" multiTemplateDataRows>

      <!-- Project Column -->
      <ng-container matColumnDef="project">
        <th mat-header-cell *matHeaderCellDef> Project </th>
        <td mat-cell *matCellDef="let element">
          <app-action-content [intention]="element" key="service.project"></app-action-content>
        </td>
      </ng-container>

      <!-- Service Column -->
      <ng-container matColumnDef="service">
        <th mat-header-cell *matHeaderCellDef> Service </th>
        <td mat-cell *matCellDef="let element">
          <app-action-content [intention]="element" key="service.name"></app-action-content>
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <app-action-content [intention]="element" key="action"></app-action-content>
        </td>
      </ng-container>

      <!-- Reason Column -->
      <ng-container matColumnDef="reason">
        <th mat-header-cell *matHeaderCellDef> Reason </th>
        <td mat-cell *matCellDef="let element">
          {{element.event.reason}}
        </td>
      </ng-container>

      <!-- Start Column -->
      <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef> Start </th>
        <td mat-cell *matCellDef="let element"> {{element.transaction.start | date:'medium'}} </td>
      </ng-container>

      <!-- Duration Column -->
      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef> Duration </th>
        <td mat-cell *matCellDef="let element"> {{element.transaction.duration}} </td>
      </ng-container>

      <!-- Outcome Column -->
      <ng-container matColumnDef="outcome">
        <th mat-header-cell *matHeaderCellDef> Outcome </th>
        <td mat-cell *matCellDef="let element"> {{element.transaction.outcome}} </td>
      </ng-container>

      <!-- User Column -->
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef> User </th>
        <td mat-cell *matCellDef="let element"> {{element.user.name ?? element.user.id}} </td>
      </ng-container>

      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
            @if (expandedElement === element) {
              <mat-icon>keyboard_arrow_up</mat-icon>
            } @else {
              <mat-icon>keyboard_arrow_down</mat-icon>
            }
          </button>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="propDisplayedColumnsWithExpand.length">
          <div class="element-detail"
              [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="expanded-header-container">
                <h3>Actions</h3>
                <a mat-stroked-button href="{{element.auditUrl}}" target="_blank">View Audit</a>
              </div>

              <app-gantt-graph *ngIf="element == expandedElement" [data]="element"></app-gantt-graph>

              <div class="artifact-container">
                <ng-container *ngFor="let action of element.actions">
                  <ng-container *ngFor="let artifact of action.artifacts">
                    <mat-card class="artifact-card">
                      <mat-card-header>
                        <mat-card-subtitle>{{action.action}}</mat-card-subtitle>
                        <mat-card-title>{{artifact.name}}</mat-card-title>
                      </mat-card-header>
                      <mat-card-content>
                        <div>{{artifact.size | filesize}}</div>
                        <div>{{artifact.checksum}}</div>
                      </mat-card-content>
                    </mat-card>
                  </ng-container>
                </ng-container>
              </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="propDisplayedColumnsWithExpand"></tr>
      <tr mat-row *matRowDef="let element; columns: propDisplayedColumnsWithExpand;"
        class="history-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="history-detail-row"></tr>
    </table>

    <mat-paginator [length]="intentionTotal"
                  [pageIndex]="pageIndex"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                  (page)="handlePageEvent($event)"
                  aria-label="Select page">
    </mat-paginator>
  </mat-card-content>
</mat-card>