
.history-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}

.history-flex-container form {
  display: flex;
  column-gap: 8px;
  align-items: baseline;
}

.history-loader {
  width: 36px;
}

.history-table {
  margin: 16px;
}

.field-field {
  width: 9em;
}

.field-value {
  width: 12em;
}

.field-outcome {
  width: 9em;
}

table {
  width: 100%;
}

tr.history-detail-row {
  height: 0;
}

tr.history-element-row:not(.history-expanded-row):hover {
  background: whitesmoke;
}

tr.history-element-row:not(.history-expanded-row):active {
  background: #efefef;
}

.history-element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
}

.expanded-header-container {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.artifact-container {
  display: flex;
  margin: 12px 0;
}

.artifact-details {
  display: flex;
  flex-wrap: wrap;
}

.artifact-card {
  background: whitesmoke;
}