
.details-container {
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
}

.details-container a {
  text-decoration: none;
}

.details-container > * {
  width: 50%;
}

.details-container-margin {
  margin-top: 16px;
}

.details-item {
  margin-left: -4px;
  padding: 4px;
  margin-bottom: 12px;
}

.details-header {
  min-width: 100px;
  font-weight: 500;
}

.server-form {
  margin-top: -18px;
}