@if (instance) {
  @if (showName()) {
  <div class="details-container details-container-margin">
    <app-details-item item="Name">{{instance.name}}</app-details-item>

    @if (instance.tags && this.instance.server.length === 1) {
      <app-details-item item="Tags">{{instance.tags.join(', ')}}</app-details-item>
    }
  </div>
  }
  <div class="details-container">
    <div>
      <app-details-item item="Status">
        @if (!current || !current.source?.intention) {
          No recorded installation
        } @else {
          Installed
        }
      </app-details-item>

      @if (instance.url) {
      <a href="{{instance.url}}" target="_blank">
        <app-details-item item="Url" clickable="true">{{instance.url}}</app-details-item>
      </a>
      }

      @if (current && current.source?.intention) {

      @if (current.source?.action?.package?.version && current.source.action.package.id) {
        <app-details-item
          (click)="openServicePackage(current.source.action.package.id)"
          item="Version"
          clickable="true">{{current.source.action.package.version}}</app-details-item>
      } @else {
        <app-details-item item="Version">{{current.source.action.package.version}}</app-details-item>
      }

      <app-details-item
        (click)="navigateHistoryById(current.source.intention.id)"
        item="Installed"
        clickable="true">{{current.source.intention.transaction.start | date:'short'}}</app-details-item>

      <app-details-item
        (click)="openUserInBrowserByGuid(current.source.intention.user.id)"
        item="User"
        clickable="true">{{current.source.intention.user.name}}</app-details-item>
      }
    </div>

    @if (serverSelection) {
    <div>

      @if (this.instance.server.length > 1) {
        <mat-form-field class="server-form">
          <mat-label>Server</mat-label>
          <mat-select [(ngModel)]="serverSelection">
            @for (element of this.instance.server; track element.server.id) {
              <mat-option [value]="element">{{element.server.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      } @else {
        <app-details-item
          (click)="openInBrowser('server', serverSelection.server.id)"
          item="Server"
          clickable="true">{{serverSelection.server.name}}</app-details-item>
      }

      <app-details-item item="Status">Unknown - Telemetery not available</app-details-item>

      <app-details-item item="Platform">{{serverSelection.server.osType}}</app-details-item>

      <app-details-item item="Platform Details">{{serverSelection.server.osFull}}</app-details-item>

      <div class="details-item">
        <div class="details-header">
          <button
            mat-stroked-button
            extended
            [disabled]="!serverSelection.edge.prop || (serverSelection.edge.prop | keyvalue).length === 0"
            (click)="openInstancePropertyDialog(serverSelection.edge.prop)">
            Properties
          </button>
        </div>
      </div>
    </div>
    }
  </div>
}
