<h3>Hi Team {{teamName}},</h3>
<p>As the owner of Broker Account: {{accountName}}, </p>
<p>This is a notification that your token associated with client ID: <b>{{client_id}}</b> will expire in <strong style="color: red;">{{daysUntilExpiration}}</strong> day(s).</p>
<p>Please visit <a href="https://broker.io.nrs.gov.bc.ca/home">NR Broker</a> and take necessary actions to renew the token. If your team is not actively using this account, you can ignore this email. </p>

<p>Reference: <a href="https://bcgov.github.io/nr-broker/#/dev_account_token">Broker Account Token</a></p>
  
<p>Thank you,</p>