<div class="graph-flex-container">
  <div class="graph-flex-graph">

    <button mat-icon-button class="add" aria-label="Add Vertex" (click)="addVertex()" [disabled]="!user.roles.includes('admin')">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button class="refresh" aria-label="Refresh Data" (click)="refreshData()">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-icon-button class="menu" aria-label="Menu" (click)="showMenu()" [disabled]="true">
      <mat-icon>more_vert</mat-icon>
    </button>
    <app-echarts [dataConfig]="data" (selected)="onGraphSelected($event)" (legendChanged)="onLegendChanged($event)"></app-echarts>
  </div>
  <div class="graph-flex-inspector">
    <app-inspector [dataConfig]="data" (graphChanged)="refreshData()" (selected)="onSelected($event)" [target]="selected"></app-inspector>
  </div>
</div>