@if (collectionResource.isLoading()) {
  <mat-spinner></mat-spinner>
}
@if (collectionResource.hasValue()) {
  <app-collection-header
    [collection]="collection()"
    [title]="collectionResource.value().name"
    [backIcon]="'arrow_back'"
  ></app-collection-header>
  <section class="page-title">
    <h1>Connections by Collection</h1>
    <small class="header-margin">An object is connected if there is an unrestricted path from or to this collection object.</small>
  </section>
  <div
    class="inspector-card-layout"
    [class]="screen.screenSize()">

    <app-collection-table
      class="full-width order-end"
      [collection]="connectedTableCollection()"
      [target]="{collection: this.collection(), vertex: this.collectionResource.value().vertex}"
      [text]="text()"
      [showFilter]="showFilter()"
      [tags]="tags()"
      [index]="index()"
      [size]="size()"
      [sortActive]="sortActive()"
      [sortDirection]="sortDirection()"
      (settingsUpdated)="updateTableRoute($event)"
      ></app-collection-table>
  </div>
}
