@if (loading()) {
  <mat-spinner></mat-spinner>
} @else {
  <app-collection-header
    [collection]="collection()"
    [title]="name()"
    [backIcon]="'arrow_back'"
  ></app-collection-header>
  <h1 class="header-margin">Connections</h1>
  <div
    class="inspector-card-layout"
    [class]="screen.screenSize()">

    <app-collection-table
      class="full-width order-end"
      [collection]="connectedTableCollection()"
      [target]="{collection: this.collection(), vertex: this.vertex()}"
      [text]="text()"
      [showFilter]="showFilter()"
      [tags]="tags()"
      [index]="index()"
      [size]="size()"
      [sortActive]="sortActive()"
      [sortDirection]="sortDirection()"
      (settingsUpdated)="updateTableRoute($event)"
      ></app-collection-table>
  </div>
}
