.details-subtitle {
  font-size: 12px;
  font-weight: 500;
  height: 20px;
  letter-spacing: 0.1px;
  line-height: 20px;
}

.details-title {
  font-size: 18px;
  font-weight: 500;
  height: 22px;
  letter-spacing: 0.25px;
  line-height: 22px;
}

.info-panel-container {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: space-between;
}

.info-panel-container .info-title {
  font-size: 18px;
  font-weight: 500;
  height: 22px;
  letter-spacing: 0.25px;
  line-height: 22px;
  margin-bottom: 4px;
}

.info-panel-container .info-line {
  color: var(--mat-sys-on-surface-variant);
  min-width: 100px;
  font-weight: 300;
}

.details-container {
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 16px;
  align-items: flex-start;
}

.details-container > * {
  width: calc(50% - 8px);
}

.details-container > .full-width {
  width: 100%;
}

.details-container-margin {
  margin: 32px;
}

.details-container.narrow > * {
  width: 100%;
}

.details-header {
  min-width: 100px;
  font-weight: 500;
}

.details-line {
  color: var(--mat-sys-on-surface-variant);
  min-width: 100px;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


.package-content {
  margin-top: 16px;
}

.spaced-btn {
  padding-right: 32px;
}

.spaced-btn.narrow {
  padding-right: 0;
}

.collection-btn {
  margin: 0;
  margin-right: 12px;
}

.card-title-container {
  margin: 0 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title-container > * {
  margin: 0;
  flex-wrap: wrap;
}
