@if (loading() || !data) {
  <mat-spinner></mat-spinner>
} @else {
  <app-collection-header
    [collection]="collection()"
    [name]="name()"
    [screenSize]="screenSize()"
    [backSteps]="2"
    [navigateCommands]="{index: 3}"
  >
    <div
      class="spaced-btn" [class]="screenSize()">
      <button
        mat-stroked-button
        class="collection-btn"
        extended
        color="warn"
        [disabled]="!hasDelete()"
        (click)="delete()">
        Delete
      </button>
    </div>
    @if (data.package.buildVersion) {
    <button mat-stroked-button
      class="collection-btn"
      (click)="openPackageBuildVersion(vertex, data.package.buildVersion)"
      matTooltip="Access to this content may be restricted"
      matTooltipShowDelay="500"
      >Open SCM<mat-icon iconPositionEnd fontIcon="open_in_new"></mat-icon></button>
    }
  </app-collection-header>

  <div class="details-container details-container-margin" [class]="screenSize()">

    @if (data.replaced) {
      <mat-card appearance="outlined" class="full-width card-margin">
        <mat-card-content class="info-panel-container">
            <div>
              <div class="info-title">This package was rebuilt</div>
              <div class="info-line">New installations will use replacement</div>
            </div>
            <button mat-stroked-button
              class="collection-btn"
              (click)="openLatestPackageBuild()"
              >View</button>
        </mat-card-content>
      </mat-card>
    }

    <mat-card class="card-margin" appearance="outlined">
      <mat-card-content>
        <div class="card-title-container">
          <mat-card-title>Package Information</mat-card-title>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="detailsMenu" class="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #detailsMenu="matMenu">
              @if (data.source && data.source.intention) {
                <button
                  mat-menu-item
                  (click)="openHistoryById(data.source.intention)">
                  <mat-icon>build</mat-icon>View Build
                </button>
              }
              <button mat-menu-item [matMenuTriggerFor]="detailsCopyMenu">
                <mat-icon>content_copy</mat-icon>Copy
              </button>
            </mat-menu>

            <mat-menu #detailsCopyMenu="matMenu">
              @if (data.package.buildVersion) {
                <button
                  mat-menu-item
                  [cdkCopyToClipboard]="data.package.buildVersion"
                  >Build Version</button>
              }
              @if (data.package.checksum) {
                <button
                  mat-menu-item
                  [cdkCopyToClipboard]="data.package.checksum"
                  >Checksum</button>
              }
            </mat-menu>
          </div>
        </div>

        <div class="package-content">

        <app-details-item item="Version"><div class="details-title">{{ data.semver }}</div></app-details-item>

        @if (data.package.description) {
        <p>{{data.package.description}}</p>
        }

          <div>
            @if (data.package.name) {
              <app-details-item item="Name">{{data.package.name}}</app-details-item>
            }
            @if (data.package.architecture) {
              <app-details-item item="Architecture">{{data.package.architecture}}</app-details-item>
            }
            @if (data.package.buildNumber) {
              <app-details-item item="Build Number">{{data.package.buildNumber}}</app-details-item>
            }
            @if (data.package.buildGuid) {
              <app-details-item item="Build Guid">{{data.package.buildGuid}}</app-details-item>
            }
            @if (data.package.buildVersion) {
              <app-details-item item="Build Version">{{data.package.buildVersion}}</app-details-item>
            }
            @if (data.package.checksum) {
              <app-details-item item="Checksum">{{data.package.checksum}}</app-details-item>
            }
            @if (data.package.installScope) {
              <app-details-item item="Install Scope">{{data.package.installScope}}</app-details-item>
            }
            @if (data.package.license) {
              <app-details-item item="License">{{data.package.license}}</app-details-item>
            }
            @if (data.package.path) {
              <app-details-item item="Path">{{data.package.path}}</app-details-item>
            }
            @if (data.package.reference) {
              <app-details-item item="Reference">{{data.package.reference}}</app-details-item>
            }
            @if (data.package.size) {
              <app-details-item item="Size">{{data.package.size | filesize}}</app-details-item>
            }
            @if (data.package.type) {
              <app-details-item item="Type">{{data.package.type}}</app-details-item>
            }

            <h3>Information</h3>

            @if (data.timestamps?.createdAt) {
              <app-details-item item="Created">{{data.timestamps!.createdAt | date: 'long'}}</app-details-item>
            }

            @if (data.timestamps?.updatedAt) {
              <app-details-item item="Modified">{{data.timestamps!.updatedAt | date: 'long'}}</app-details-item>
            }

          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-margin" appearance="outlined">
      <mat-card-content>
        <div class="card-title-container">
          <mat-card-title>Installation</mat-card-title>
        </div>
        <app-inspector-installs
          [pointers]="data.installed"></app-inspector-installs>
      </mat-card-content>
    </mat-card>

  </div>
}


