<mat-card appearance="outlined">
  <mat-card-header>
    @if (!hideCode()) {
      <mat-card-subtitle>{{ code() }}</mat-card-subtitle>
    }
    <mat-card-title>{{ message() }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    @if (subMessage()) {
    <p>{{ subMessage() }}</p>
    }

    @if (error()) {
    <mat-card appearance="outlined">
      <mat-card-content>
        {{ error() }}
      </mat-card-content>
    </mat-card>
    }

    @if (!hideBack()) {
      <a mat-stroked-button color="secondary" routerLink="/">Go to home</a>
    }
  </mat-card-content>
</mat-card>