@use '@angular/material' as mat;


$my-palette: mat.m2-define-palette(mat.$m2-indigo-palette);

mat-card {
  width: 600px;
  margin: auto;
  margin-top: 50px;
}

p {
  margin: 1.5em 0 1em;
}

mat-card mat-card {
  background-color: mat.m2-get-color-from-palette($my-palette, '500-contrast');
  margin: auto;
  width: 100%;
  margin-bottom: 16px;
}
