<div class="collection-flex-container">
  <h1>Browse</h1>

  <form>
    <mat-form-field
      [matTooltip]="config().hint"
      [matTooltipDisabled]="collectionSelect.panelOpen"
      matTooltipShowDelay="500"
      matTooltipPosition="right">
      <mat-label>Collection</mat-label>
      <mat-select
        #collectionSelect="matSelect"
        [value]="collection()"
        (selectionChange)="onCollectionChange($event.value)"
        name="collection">
        @for (opt of collectionFilterOptions(); track opt) {
          <mat-option
            #collectionOptionTooltip="matTooltip"
            [value]="opt.value"
            [matTooltip]="opt.tooltip"
            [matTooltipDisabled]="!collectionSelect.panelOpen"
            matTooltipShowDelay="500"
            matTooltipPosition="right">
            {{opt.viewValue}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>

  <span class="spacer"></span>

  <button
    mat-stroked-button
    aria-label="Add Vertex"
    (click)="addVertex()"
    [disabled]="!((collection() === 'team' || permission.hasAdmin()) && !disableAdd())">
    <mat-icon>add</mat-icon>
    Add
  </button>
</div>

@if (collection()) {
  <app-collection-table
    [collection]="collection()"
    [text]="text()"
    [showFilter]="showFilter()"
    [tags]="tags()"
    [index]="index()"
    [size]="size()"
    [sortActive]="sortActive()"
    [sortDirection]="sortDirection()"
    (settingsUpdated)="updateTableRoute($event)"
    ></app-collection-table>
}
