.collection-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
  margin: 16px;
}

.collection-flex-container form {
  display: flex;
  column-gap: 8px;
  align-items: flex-end;
}

.collection-select {
  min-width: 280px;
}

.collection-details-button {
  margin-bottom: 22px;
}

.spacer {
  flex: 1;
}

.help-button {
  margin-right: 16px;
}