@use '@angular/material' as mat;

.tags-container {
  margin: 0;
}

.tags-label {
  color: var(--mat-form-field-filled-label-text-size, var(--mat-sys-body-large-size));
  margin: 0;
  line-height: 12px;
}
