<app-collection-header
  collection="service"
  [title]="service()?.name ?? 'External service details'"
  backIcon="arrow_back" />

<div class="content">
  @if (loading()) {
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  } @else {
    @if (service(); as currentService) {
      <app-external-service-view
        [connectionConfig]="currentService"
        [edges]="edges()"
        [teamRoleChipsEnabled]="teamRoleChipsEnabled"
        [connectionConfigChipsForRole]="allServiceChipsByRole()"
        [gitHubRoleByEdge]="gitHubRolesByEdge()"
        [brokerRoleByEdge]="brokerRolesByEdge()"
        [currentConnectionConfigId]="currentService.id"
        (connectionChipClick)="openConnectionConfigDialog($event)"
        (githubChipClick)="openConnectionConfigDialog(getGitHubConnectionConfigChip($event))"
        (brokerChipClick)="handleBrokerChipClick($event)"
      />
    } @else {
      <app-page-error
        message="Service not found"
        subMessage="The requested external service could not be found."
        error=""
        [hideCode]="true"
        [hideBack]="false"
      ></app-page-error>
    }
  }
</div>
