@if (team$ | async; as team) {
<div class="team-flex-container">
  <button routerLink="/teams" mat-icon-button >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1>{{ team.name }}</h1>
  <span class="spacer"></span>

  <button mat-stroked-button extended color="primary"
    (click)="openInGraph(team)">
    View in Graph
  </button>
</div>


<div class="team-body">

  <mat-divider></mat-divider>

  <div class="team-details">

    @if (team.website) {
    <div>
      <b>Url</b><span><a href="{{team.website}}" target="_blank">{{team.website}}</a></span>
    </div>
    }
    @if (team.email) {
    <div>
      <b>Email</b><span><a href="mailto:{{team.email}}">{{team.email}}</a></span>
    </div>
    }
  </div>

  <h2>Services</h2>

  @if (serviceSearch$ | async; as serviceSearch) {

    @for (service of serviceSearch; track service.id) {
      @if (service.instance) {

      <div class="card-container">
        <mat-card class="service-card">
          <mat-card-header>
            <mat-card-subtitle>{{service.edge.prototype.targetName}}</mat-card-subtitle>
            <mat-card-title>{{service.edge.prototype.name}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{service.edge.prototype.description}}</p>

            @if (service.instance.prop) {
              <table mat-table [dataSource]="service.edge.prototype.property | keyvalue">
                <!-- Key Column -->
                <ng-container matColumnDef="key">
                  <th mat-header-cell *matHeaderCellDef> Key </th>
                  <td mat-cell *matCellDef="let element" matTooltip="{{element.key}}" matTooltipShowDelay="500"> {{element.value.name}}</td>
                </ng-container>
                <!-- Value Column -->
                <ng-container matColumnDef="value">
                  <th mat-header-cell *matHeaderCellDef> Value </th>
                  <td mat-cell *matCellDef="let element" matTooltip="{{element.value.hint}}" matTooltipShowDelay="500">
                    <span class="ellipsis">
                      @if (service.instance.prop[element.key]) {
                        {{service.instance.prop[element.key]}}
                      }
                    </span>
                  </td>
                </ng-container>
                <tr mat-row *matRowDef="let row; columns: propDisplayedColumns;"></tr>
              </table>
            }

            <mat-divider></mat-divider>
          </mat-card-content>
          <mat-card-actions>
            @if (service.links?.default) {
            <a
              mat-stroked-button
              href="{{service.links?.default}}"
              target="_blank">Open <mat-icon iconPositionEnd fontIcon="open_in_new"></mat-icon></a>
            }
          </mat-card-actions>
        </mat-card>
      </div>
      }
    }
  }

  <h2>Accounts</h2>

  @if (accountSearch$ | async; as accountSearch) {
    <div class="card-container">
    @for (account of accountSearch.data; track account.id) {
      <mat-card class="account-card">
        <mat-card-header class="account-header">
          <mat-card-title>{{account.name}}</mat-card-title>
          <button mat-icon-button (click)="openInGraph(account)" aria-label="View in Graph">
            <mat-icon>account_tree</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content>

          <app-inspector-vertex
            [collection]="'brokerAccount'"
            [collectionConfig]="latestConfig$ | async"
            [collectionData]="account"
          ></app-inspector-vertex>
        </mat-card-content>
      </mat-card>
    }
    </div>
    @if (accountSearch.meta.total === 0) {
      <h3>No Accounts</h3>
    }
  }

</div>
} @else {
  Loading
}