@if (total == 0) {
  <div class="edge-container intention-none">None</div>
} @else {
  <app-history-table
    [actionServiceFilter]="collection() == 'service' ? name() : ''"
    [intentionData]="intentions"
    [layout]="layout()"
    [showHeader]="showHeader()"
    (viewIntentionEvent)="this.viewIntention($event)"
    ></app-history-table>
}
@if (showMore() && total > 0) {
  <div class="more-panel">
    <button
      mat-stroked-button
      (click)="navigateHistory()">View in History</button>
    <div>1 - {{ total > limit ? limit : total }} of {{ total }}</div>
  </div>
}
