<div class="edge-container">
  <h3 class="heading">Recent Intentions</h3>
</div>
@if (total == 0) {
  <div class="edge-container">None</div>
}
<mat-action-list>
  @for (item of intentions; track item; let i = $index) {
    <mat-list-item (click)="navigateHistoryById(item.id)">
      <span matListItemTitle>{{item.transaction.start | date:'medium' }}</span>
      <span matListItemLine>{{item.event.reason}}</span>
    </mat-list-item>
  }
</mat-action-list>
@if (total > 0) {
  <div class="more-panel">
    <div>{{total}} Total</div>
    <button mat-button (click)="navigateHistoryByService()">More</button>
  </div>
}
<mat-divider></mat-divider>
