<div class="edge-container">
  <div class="header-container">
    <h3 class="header-text">Vault</h3>
    <div class="header-buttons">
      <button
        mat-button
        (click)="openVaultEditDialog()"
        [disabled]="!isAdministrator">Configure</button>
    </div>
  </div>
</div>

<div class="vault-details">
  <mat-list>
    <mat-list-item
      matTooltip="Generate access policies for service"
      matTooltipShowDelay="500"
      matTooltipPosition="left">
      <span matListItemTitle>Enabled
        <mat-icon
          class="mat-icon-info"
          inline="true">info</mat-icon>
      </span>
      <span matListItemLine>{{ service.vaultConfig?.enabled | yesno }}</span>
    </mat-list-item>
    @if (service.vaultConfig && service.vaultConfig.approle) {
      <mat-list-item
        matTooltip="Allow service to login and access own secrets"
        matTooltipShowDelay="500"
        matTooltipPosition="left">
        <span matListItemTitle>Service Login
          <mat-icon
            class="mat-icon-info"
            inline="true">info</mat-icon>
        </span>
        <span matListItemLine>{{ service.vaultConfig.approle.enabled | yesno }}</span>
        <span matListItemLine>Period:
          @if (service.vaultConfig.approle.token_period) {
            {{ totalDuration(service.vaultConfig.approle.token_period) }}
          } @else {
            @if (service.vaultConfig.policyOptions?.tokenPeriod) {
              {{ service.vaultConfig.policyOptions?.tokenPeriod }}
            } @else {
              daily
            }
          }</span>
      </mat-list-item>
    }
  </mat-list>
</div>
