<mat-form-field class="search-input">
  <input type="text"
    placeholder="Search"
    aria-label="Search"
    matInput
    spellcheck="false"
    [formControl]="searchControl"
    [matAutocomplete]="auto">
  <mat-autocomplete
    #auto="matAutocomplete"
    [displayWith]="displayFn"
    class="toolbar-autocomplete">
     @for (group of filteredOptions | async; track group) {
        <mat-optgroup class="toolbar-autocomplete-group" [label]="group.collection">
          @for (option of group.data; track option) {
            <mat-option [value]="option" (click)="onTypeaheadOptionClick($event, option)"><app-vertex-name [vertex]="option"></app-vertex-name></mat-option>
          }
        </mat-optgroup>
      }
  </mat-autocomplete>
</mat-form-field>