<mat-form-field class="search-input">
  <input type="text"
    placeholder="Search"
    aria-label="Search"
    matInput
    spellcheck="false"
    [formControl]="searchControl"
    [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    @for (option of (filteredOptions | async)?.data; track option) {
      <mat-option [value]="option" (click)="onTypeaheadOptionClick(option)">
        <div>{{ option.name }}</div>
        <div><small>{{option.collection}}</small></div>
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>