<h2 mat-dialog-title>Delete Edge</h2>
<mat-dialog-content>
  <mat-selection-list #connections>
    @for (group of $any(data.connections | keyvalue); track group) {
      <div mat-subheader class="mat-subheader"><b>{{ group.key | titlecase }}</b></div>
      @for (item of group.value; track item) {
        <mat-list-option [value]="item">
          @if (item.vertex.parentName) {
            {{ item.vertex.parentName}} &gt;
          } {{ item.vertex.name }}
        </mat-list-option>
      }
    }
  </mat-selection-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-stroked-button (click)="deleteEdge()">Delete</button>
</mat-dialog-actions>