
.edge-container {
  margin-left: 16px;
}

.heading {
  margin: 8px 0;
}

.more-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 16px;
  margin-bottom: 16px;
  margin-top: 16px;
}

.intention-none {
  margin-bottom: 16px;
}