<span class="ellipsis">
  @switch (config()?.type) {
      @case ('boolean') {
        @if (value()) {
          Yes
        } @else {
          No
        }
      }
      @case ('date') {
        {{value() | date:'shortDate':'UTC'}}
      }
      @case ('email') {
        {{value()}}
      }
      @case ('json') {
        {{value()}}
      }
      @case ('number') {
        {{value()}}
      }
      @case ('select') {
        {{ selectValueToLabel(value()) }}
      }
      @case ('string') {
        {{value()}}
      }
      @case ('stringArray') {
        {{value().join(', ')}}
      }
      @case ('url') {
        <a href="{{value()}}" target="_blank">{{value()}}</a>
      }
      @case ('embeddedDoc') {
        @if (value()) {
          Yes
        } @else {
          No
        }
      }
      @default {
      }
  }
</span>