.details-item {
  margin-left: -4px;
  padding: 4px;
  margin-bottom: 12px;
  color: var(--mat-sys-on-surface);
}

.details-item-clickable:hover {
  background: var(--mat-sys-surface-container-high);
  cursor: pointer;
  border-radius: 8px;
}

.details-item-clickable.details-item-invert-background:hover {
  background: var(--mat-sys-surface-container-low);
}

.details-line {
  color: var(--mat-sys-on-surface-variant);
  min-width: 100px;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.details-line-wrap {
  text-overflow: initial;
  overflow: initial;
  white-space: normal;
}
