<div class="team-flex-container">

  <h1>My Teams</h1>

  <ng-container *ngIf="teamData && teamData.length === 0">
    <mat-card class="warning-panel">
      <mat-card-header>
        <mat-card-title>No teams found</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>Your account is not on any team.</p>
        <a mat-flat-button color="accent" routerLink="/">Go to home</a>
      </mat-card-content>
    </mat-card>
  </ng-container>

  <ng-container *ngIf="teamData && teamData.length > 0">
  <mat-card class="team-table">
    <mat-card-content>
      <table mat-table [dataSource]="teamData">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element">
            {{ element.name }}
          </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element">
            <a href="mailto:{{ element.email }}">{{ element.email }}</a>
          </td>
        </ng-container>

        <!-- Owner -->
        <ng-container matColumnDef="owners">
          <th mat-header-cell *matHeaderCellDef> Owners </th>
          <td mat-cell *matCellDef="let element">
            {{ countUpstream(element, ['owner']) }}
          </td>
        </ng-container>

        <!-- Developers -->
        <ng-container matColumnDef="developers">
          <th mat-header-cell *matHeaderCellDef> Developers </th>
          <td mat-cell *matCellDef="let element">
            {{ countUpstream(element, ['developer', 'lead-developer']) }}
          </td>
        </ng-container>

        <!-- Accounts -->
        <ng-container matColumnDef="accounts">
          <th mat-header-cell *matHeaderCellDef> Accounts </th>
          <td mat-cell *matCellDef="let element">
            {{ countDownstream(element, ['owns']) }}
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element" class="action-buttons">
            <button mat-stroked-button extended color="primary" (click)="openMemberDialog(element)">
              Members
            </button>
            <button mat-stroked-button extended color="primary" (click)="openInGraph(element)">
              View
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="propDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: propDisplayedColumns;"></tr>
      </table>

      <mat-paginator [length]="teamTotal"
                    [pageIndex]="pageIndex"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    (page)="handlePageEvent($event)"
                    aria-label="Select page">
      </mat-paginator>
    </mat-card-content>


  </mat-card>
  </ng-container>

<!--
  <div class="button-container">
    <button mat-raised-button extended color="primary">
      <mat-icon>add</mat-icon>
      Create Team
    </button>
  </div>
  <h1>Request to Join</h1>

  <div class="button-container">
    <button mat-raised-button extended color="primary">
      <mat-icon>add</mat-icon>
      Team
    </button>
  </div> -->
</div>