.team-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}

.teams-table {
  margin: 16px;
}

.button-container {
  margin: 16px;
}

mat-card.warning-panel {
  width: 600px;
  margin: auto;
  margin-top: 50px;
  p {
    margin: 1.5em 0 3em;
  }
}

.action-buttons button:not(:first-child) {
  margin-left: .5em;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
  cursor: pointer;
}

