table {
  width: 100%;
  table-layout: fixed;
}

.mat-column-key {
  width: 30%;
}

.mat-column-value {
  width: 70%;
}

.mat-column-value > span.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.mat-icon-status {
  line-height: 1em;
  vertical-align: -2px;
}