<h2 mat-dialog-title>
  @if (data.edge) {
    Edit
  } @else {
    Add
  } Edge</h2>
<mat-dialog-content>
  <div class="edge-editor-form-panel">
    <form
      class="edge-editor-form"
      (submit)="addEditEdge()">
      @if (!data.edge) {
        <mat-form-field class="edge-editor-full-width" appearance="fill">
          <mat-label>Collection (type)</mat-label>
          <mat-select
            [formControl]="edgeControl"
            name="edgeConfig"
            (selectionChange)="configChanged()">
            @if (configRecord[data.collection].edges.length > 1) {
              <mat-option value="" selected></mat-option>
            }
            @for (edgeConfig of configRecord[data.collection].edges; track edgeConfig) {
              <mat-option [value]="edgeConfig">{{configRecord[edgeConfig.collection].name}} ({{edgeConfig.name}})</mat-option>
            }
          </mat-select>
          <mat-hint>Pick the target collection and the edge type</mat-hint>
        </mat-form-field>

        <mat-form-field class="edge-editor-full-width" appearance="fill">
          <mat-label>Target Vertex</mat-label>
          <input
            type="text"
            name="targetVertex"
            placeholder="Choose target vertex"
            aria-label="Name"
            spellcheck="false"
            matInput
            [formControl]="vertexControl"
            [matAutocomplete]="auto"
            (keydown)="onVertexInputKeyDown($event)">
          <mat-autocomplete
            autoActiveFirstOption
            #auto="matAutocomplete"
            [displayWith]="vertexDropdownDisplayFn">
            @if (edgeControl.value && typeof edgeControl.value !== 'string' && configRecord[edgeControl.value.collection].permissions.create) {
              <mat-option [value]="NEW_VERTEX">
                Add Vertex
              </mat-option>
              <mat-divider></mat-divider>
            }
            @if (typeof vertexControl.value === 'string' || vertexControl.value === null) {
              @for (option of vertexSearchSignal().data; track option) {
                <mat-option [value]="option">
                  <app-vertex-name [vertex]="option"></app-vertex-name>
                </mat-option>
              }
              @if (vertexSearchSignal().data.length === 0) {
                <mat-option [value]="''" disabled="true">
                  @if (vertexSearchSignal().meta.keepTyping) {
                  Please enter at least 2 characters to search
                  } @else {
                  No matching vertices found
                  }
                </mat-option>
              }
            }
          </mat-autocomplete>
          <mat-hint>Pick the target vertex</mat-hint>
        </mat-form-field>
      }
      <app-property-editor
        [graphProperties]="data.edge?.prop"></app-property-editor>

    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-button
    mat-dialog-close>Cancel</button>
  <button
    mat-button
    color="primary"
    [disabled]="!data.edge && (!edgeControl.value || !vertexControl.value)"
    (click)="addEditEdge()">
    @if (data.edge) {
      Edit
    } @else {
      @if (vertexControl.value === NEW_VERTEX) {
        Next
      } @else {
        Add
      }
    }
  </button>
</mat-dialog-actions>