<h2 mat-dialog-title>
  @if (data.edge) {
    Edit
  } @else {
    Add
  } Edge</h2>
<mat-dialog-content>
  <div class="edge-editor-form-panel">
    <form
      class="edge-editor-form"
      (submit)="addEditEdge()">
      @if (!data.edge) {
        <mat-form-field class="edge-editor-full-width" appearance="fill">
          <mat-label>Collection (type)</mat-label>
          <mat-select
            [formControl]="edgeControl"
            name="edgeConfig"
            (selectionChange)="configChanged()">
            <mat-option value="" selected></mat-option>
            @for (edgeConfig of configMap[data.collection].edges; track edgeConfig) {
              <mat-option [value]="edgeConfig">{{configMap[edgeConfig.collection].name}} ({{edgeConfig.name}})</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field class="edge-editor-full-width" appearance="fill">
          <mat-label>Target</mat-label>
          <input
            type="text"
            name="targetVertex"
            placeholder="Pick one"
            aria-label="Name"
            spellcheck="false"
            matInput
            [formControl]="vertexControl"
            [matAutocomplete]="auto">
          <mat-autocomplete
            autoActiveFirstOption
            #auto="matAutocomplete"
            [displayWith]="displayFn">
            @for (option of (filteredOptions | async)?.data; track option) {
              <mat-option [value]="option">
                <app-vertex-name [vertex]="option"></app-vertex-name>
              </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      }
      <app-property-editor
      [graphProperties]="data.edge?.prop"></app-property-editor>

    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-button
    mat-dialog-close>Cancel</button>
  <button
    mat-button
    color="primary"
    [disabled]="!data.edge && (!edgeControl.value || !vertexControl.value)"
    (click)="addEditEdge()">
    @if (data.edge) {
      Edit
    } @else {
      Add
    }
  </button>
</mat-dialog-actions>