.collection-flex-container {
  display: flex;
  align-items: center;
  margin: 16px;
}

.collection-flex-container button {
  margin-right: 16px;
}

.spacer {
  flex: 1;
}

.spaced-btn {
  padding-right: 32px;
}

.spaced-btn.narrow {
  padding-right: 0;
}

.collection-subtitle {
  color: var(--mat-sys-on-surface-variant);
  font-size: 14px;
  font-weight: 500;
  height: 22px;
  letter-spacing: 0.1px;
  line-height: 22px;
}

.collection-title {
  font-size: 20px;
  font-weight: 500;
  height: 32px;
  letter-spacing: 0.25px;
  line-height: 32px;
}

.card-content-container-full {
  margin-left: 16px;
  padding-bottom: 16px;
}

.card-title-container {
  margin: 0 0 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title-container > *:first-child {
  line-height: 48px;
}

.card-title-container > * {
  margin: 0;
  flex-wrap: wrap;
}

.inspector-tab-margin {
  margin: 16px 32px;
}

.inspector-tab-full-margin {
  margin: 32px;
}

.inspector-card-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}

.inspector-card-gap {
  margin-bottom: 16px;
}

.inspector-card-layout > * {
  width: calc(50% - 8px);
}

.inspector-card-layout.narrow > * {
  width: 100%;
}

.inspector-card-layout > .full-width {
  width: 100%;
}

.vertex-tags-section {
  display: flex;
  align-items: center;
  gap: 16px;
}

.slide-toggle-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 52px;
  gap: 8px;
}