<h2 mat-dialog-title>Generate JWT</h2>
<mat-dialog-content>

  <p>Please choose length and click generate to create a new token. The current token (if any)
  will be blocked after 1 hour.</p>

  <mat-form-field >
    <mat-label>Length</mat-label>
    <mat-select [(ngModel)]="selectedPeriod" name="expiryDay">
      @for (expiryDay of expiryList; track expiryDay) {
        <mat-option [value]=expiryDay.value>{{expiryDay.viewValue}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div class="generate-panel">
    <mat-form-field >
      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="17" type="text" [(ngModel)]="token"></textarea>
      @if (token !== '') {
        <button matSuffix mat-icon-button (click)="copyToClipboard()" aria-label="Copy to clipboard">
          <mat-icon>content_copy</mat-icon>
        </button>
      }
    </mat-form-field>

    <button mat-button color="primary" [disabled]="!!token" (click)="generate()">Generate</button>
  </div>

  <p>The token will be displayed only once in this dialog. It should be treated as a secret.</p>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
