<h2 mat-dialog-title>Generate Token</h2>
<mat-dialog-content>

  <p>Please choose length and click generate to create a new token. The current
    token (if any) will be blocked after 1 hour.</p>

  <div class="generate-panel">
    <mat-checkbox
      matTooltip="Each service connected to this account will receive a copy of the token in Vault under the service's tools path."
      [(ngModel)]="patchVaultTools">Distribute token to connected services</mat-checkbox>
  </div>

  <div class="generate-panel">
    <mat-checkbox
      [disabled]="!patchVaultTools"
      matTooltip="Connected service's secrets stored in the Vault under the tools path will be copied to GitHub as action secrets."
      [(ngModel)]="syncGithub">Sync service secrets to connected GitHub repositories</mat-checkbox>
  </div>

  <div class="generate-panel generate-panel-select">
    <mat-form-field>
      <mat-label>Length</mat-label>
      <mat-select
        [(ngModel)]="selectedPeriod"
        name="expiryDay">
        @for (expiryDay of expiryList; track expiryDay) {
          <mat-option
            [value]=expiryDay.value>{{expiryDay.viewValue}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <button
      mat-stroked-button
      [disabled]="!!token()"
      (click)="generate()">Generate</button>
  </div>

  <div class="generate-panel">
    <mat-form-field>
      <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="14"
        type="text"
        [value]="token()"></textarea>
      @if (token() !== '') {
        <button
          matSuffix
          mat-icon-button
          (click)="copyToClipboard()"
          aria-label="Copy to clipboard">
          <mat-icon>content_copy</mat-icon>
        </button>
      }
    </mat-form-field>
  </div>

  <p>The token will be displayed in Broker only once in this dialog. It should be treated as a secret.</p>

</mat-dialog-content>

<mat-dialog-actions
  align="end">
  <button
    mat-button
    mat-dialog-close>Close</button>
</mat-dialog-actions>
