<h2 mat-dialog-title>Generate JWT</h2>
<mat-dialog-content>

  <p>Clicking generate will create a new token valid for 90 days. The current token (if any)
    will be blocked after 1 hour.</p>

  <div class="generate-panel">
    <mat-form-field >
      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="17" type="text" [(ngModel)]="token"></textarea>
      <button *ngIf="token !== ''" matSuffix mat-icon-button (click)="copyToClipboard()" aria-label="Copy to clipboard">
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-form-field>

    <button mat-button color="primary" [disabled]="!!token" (click)="generate()">Generate</button>
  </div>

  <p>The token will be displayed only once in this dialog. It should be treated as a secret.</p>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
