.generate-panel {
  display: flex;
  align-items: baseline;
}
.generate-panel .mat-mdc-form-field {
  flex: 1;
}

.generate-panel .mdc-button {
  margin-left: 16px;
}

.generate-panel-select {
  margin-top: 16px;
}