<div
  class="intention-flex-header">
  <button
    mat-icon-button
    (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div>
    <div class="intention-subtitle">Intention Details</div>
    <div class="intention-title">@if (intentionResource.hasValue()) {<app-action-content
          [intention]="intentionResource.value()"
          key="service.name"></app-action-content>}</div>
  </div>
  <span class="spacer"></span>

  @if (intentionResource.hasValue()) {
  <div class="spaced-btn">

    @let intention = intentionResource.value();

    <button
      mat-icon-button
      class="refresh"
      aria-label="Refresh Data"
      (click)="intentionResource.reload();">
        <mat-icon>refresh</mat-icon>
      </button>

    @if (intention.event.trigger?.url) {
      <a
        mat-stroked-button
        matTooltip="Access to this content may be restricted"
        matTooltipShowDelay="500"
        href="{{intention.event.trigger?.url}}"
        target="_blank">@if (intention.event.trigger?.name) {
            {{ intention.event.trigger?.name }}
          } @else {
            View Trigger
          } <mat-icon iconPositionEnd fontIcon="open_in_new"></mat-icon></a>
    }
    @if (intention.event.url) {
      <a
        mat-stroked-button
        matTooltip="Access to this content may be restricted"
        matTooltipShowDelay="500"
        href="{{intention.event.url}}"
        target="_blank">View Event <mat-icon iconPositionEnd fontIcon="open_in_new"></mat-icon></a>
    }
    <a
      mat-stroked-button href="{{intention.auditUrl}}"
      target="_blank">View Audit <mat-icon iconPositionEnd fontIcon="open_in_new"></mat-icon></a>
</div>
  }
</div>
<mat-divider></mat-divider>

<div class="intention-flex-container">
@if (intentionResource.isLoading()) {
  <mat-spinner></mat-spinner>
} @else if (intentionResource.hasValue()) {
  <mat-card class="intention-panel" appearance="outlined">
    <mat-card-content>
      <app-intention-details
        [intention]="intentionResource.value()"
        (viewIntentionEvent)="this.viewIntention($event)"
        ></app-intention-details>
    </mat-card-content>
  </mat-card>
}
</div>