<div
  class="intention-flex-container">
  <button
    mat-icon-button
    (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div>
    <div class="intention-subtitle">Intention Details</div>
    <div class="intention-title">@if (intentionResource.hasValue()) {<app-action-content
          [intention]="intentionResource.value()"
          key="service.name"></app-action-content>}</div>
  </div>
  <span class="spacer"></span>

  <ng-content></ng-content>

</div>
<mat-divider></mat-divider>

<div class="intention-flex-container">
@if (intentionResource.isLoading()) {
  <mat-spinner></mat-spinner>
} @else if (intentionResource.error()) {
  <mat-card class="warning-panel" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Error loading intention</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{intentionResource.error()?.message}}</p>
    </mat-card-content>
  </mat-card>
} @else if (intentionResource.hasValue()) {
  <mat-card class="intention-panel" appearance="outlined">
    <mat-card-content>
      @let intention = intentionResource.value();

      <app-details-item title="Project">
        <app-action-content
          [intention]="intention"
          key="service.project"></app-action-content>
      </app-details-item>

      <app-details-item title="Services">
        <app-action-content
          [intention]="intention"
          key="service.name"></app-action-content>
      </app-details-item>

      <app-details-item title="Reason">{{ intention.event.reason}}</app-details-item>
      <app-details-item title="Duration">{{ totalDuration(intention) }}</app-details-item>


      <app-intention-details
        [intention]="intentionResource.value()"
        (viewIntentionEvent)="this.viewIntention($event)"
        ></app-intention-details>

    </mat-card-content>
  </mat-card>
}
</div>