@use '@angular/material' as mat;

.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-sidenav-container {
  flex:1;
}

.app-sidenav-list {
  min-width: 200px;
  mat-list-item {
    padding-left: 12px;
    cursor: pointer;
  }
  mat-list-item:hover {
    background-color: var(--mat-sys-on-primary-container);
  }

  mat-list-item:hover * {
    color: var(--mat-sys-primary-container);
  }
}

.app-sidenav-list mat-icon {
  margin-right: 20px;
}

:host {
  @include mat.sidenav-overrides((
    container-shape: square,
  ));
}