<div>
  <h3 class="edge-heading">Source@if (edge && sourceVertex && configMap) {
    - {{configMap[sourceVertex.collection].name}}
  }</h3>
  <div class="wrapper vertex-edge-type-container">
    <div class="fields-wrapper">
      <mat-chip-listbox [selectable]="false">
        <mat-chip-option (click)="vertexSelected.emit(sourceVertex.id)">
          <app-vertex-name [vertex]="sourceVertex"></app-vertex-name>
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
    <div class="fields-wrapper">
      @if (sourceVertex) {
        <button
          mat-icon-button
          class="copy-id"
          aria-label="Copy Id"
          [cdkCopyToClipboard]="sourceVertex.id">
          <mat-icon>content_copy</mat-icon>
        </button>
      }
    </div>
  </div>
  <h3 class="edge-heading">Target@if (edge && targetVertex && configMap) {
    - {{configMap[targetVertex.collection].name}}
  }</h3>
  <div class="wrapper vertex-edge-type-container">
    <div class="fields-wrapper">
      <mat-chip-listbox [selectable]="false">
        <mat-chip-option (click)="vertexSelected.emit(targetVertex.id)">
          <app-vertex-name [vertex]="targetVertex"></app-vertex-name>
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
    <div class="fields-wrapper">
      @if (targetVertex) {
        <button mat-icon-button class="copy-id" aria-label="Copy Id" [cdkCopyToClipboard]="targetVertex.id">
          <mat-icon>content_copy</mat-icon>
        </button>
      }
    </div>
  </div>
</div>