
.edge-heading, .property-heading {
  margin: 16px 0 0 16px;
}


.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.fields-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
}

.vertex-edge-type-container {
  margin-bottom: 16px;
}

.vertex-edge-container, .vertex-edge-type-container {
  margin-left: 16px;
}

.wrapper-graphlookups {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--mat-sys-on-surface-variant);
}

.wrapper-graphlookups div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}