<h2 mat-dialog-title>
  @if (data.vertex) {
    Edit
  } @else {
    Add
  } Vertex</h2>
  <mat-dialog-content class="mat-typography">
    <mat-form-field class="vertex-full-width">
      <mat-label>Collection (type)</mat-label>
      <mat-select [formControl]="collectionControl"
        name="type">
        <mat-option value="" selected></mat-option>
        @for (value of configs; track value.id) {
          <mat-option [value]="value">{{value.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    @if (isCollectionConfig(collectionControl.value)) {
      <p class="mat-small">{{collectionControl.value.hint}}</p>
    }
    <mat-divider></mat-divider>
    @if (isCollectionConfig(collectionControl.value)) {
      <app-vertex-form-builder
        [collection]="collectionControl.value.collection"
        [fieldMap]="collectionControl.value.fields"
        [data]="data.data"
        (onSubmit)="addUpdateVertex()"></app-vertex-form-builder>
      <mat-divider
        class="property-editor"></mat-divider>
      <app-property-editor
        [graphProperties]="data.vertex?.prop"></app-property-editor>
    }
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      mat-button
      mat-dialog-close>Cancel</button>
    <button
      mat-button
      color="primary"
      [disabled]="isFormInvalid()"
      (click)="addUpdateVertex()">
      @if (data.vertex) {
        Edit
      } @else {
        Add
      }
    </button>
  </mat-dialog-actions>