.collection-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
  margin: 16px;
}

.collection-flex-container form {
  display: flex;
  column-gap: 8px;
  align-items: baseline;
}

.spacer {
  flex: 1;
}

.teams-table {
  margin: 16px;
}

.button-container {
  margin: 16px;
}

mat-card.warning-panel {
  width: 600px;
  margin: auto;
  margin-top: 50px;
  p {
    margin: 1.5em 0 3em;
  }
}

.action-buttons button:not(:first-child) {
  margin-left: .5em;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
  cursor: pointer;
}

.field-typeahead-filter {
  width: 300px;
}

.collection-btn {
  margin: 0;
  margin-right: 12px;
}
