
<div class="collection-flex-container">
  <form>
    @if (collectionFilterOptions().length > 0) {
      <mat-form-field>
        <mat-label>Collection</mat-label>
        <mat-select
          (selectionChange)="updateSettings({collection: $event.value})"
          [value]="collection()">
          @for (collection of collectionFilterOptions(); track collection.value) {
            <mat-option [value]="collection.value">{{collection.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
    <mat-form-field class="field-typeahead-filter">
      <mat-label>Filter</mat-label>
      <input
        type="text"
        placeholder="Filter"
        aria-label="Filter"
        spellcheck="false"
        matInput
        (input)="onTextInput($event)"
        [value]="text()"
        #inputText>
    </mat-form-field>
    @if (tagList.length > 0) {
      <mat-form-field>
        <mat-label>Tags</mat-label>
        <mat-select
          (selectionChange)="updateSettings({tags: $event.value})"
          [value]="computedTags()"
          multiple>
          @for (tag of tagList; track tag) {
            <mat-option [value]="tag">{{tag}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
    @if (canFilterConnected.includes(collection()) && !upstreamId()) {
      <mat-form-field class="field-show-filter">
        <mat-label>Show</mat-label>
        <mat-select
        (selectionChange)="updateSettings({showFilter: $event.value})"
        [value]="showFilter()">
          @for (opt of showFilterOptions; track opt.value) {
            <mat-option [value]="opt.value">
              {{opt.viewValue}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
    <button
      mat-stroked-button
      aria-label="Clear"
      (click)="clearAndRefresh()">
      Clear
    </button>
  @if (loading) {
    <mat-spinner diameter="20"></mat-spinner>
  }
  </form>
  <button
    mat-icon-button
    class="refresh"
    aria-label="Refresh Data"
    (click)="refresh();">
    <mat-icon>refresh</mat-icon>
  </button>
</div>

<div class="teams-table">
  @if ((!data || data.length === 0) && loading) {
    <mat-spinner></mat-spinner>
  }
  @if (data && data.length === 0 && !loading) {
    <mat-card class="warning-panel" appearance="outlined">
      <mat-card-header>
        <mat-card-title>No results found</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Click 'clear' to remove all filters</p>
      </mat-card-content>
    </mat-card>
  }
  <div [hidden]="!data || (data && data.length === 0 && !loading)">
    <mat-card class="team-table" appearance="outlined">
      <mat-card-content>
        <table
          mat-table
          matSort
          (matSortChange)="onSortChange($event)"
          [matSortActive]="sortActive()"
          [matSortDirection]="sortDirection()"
          [dataSource]="data">

          @for (item of (fields | keyvalue); track item.key) {
            <ng-container
              matColumnDef="{{item.key}}">
              <th
                mat-header-cell
                mat-sort-header
                *matHeaderCellDef> {{item.value.name}} </th>
              <td
                mat-cell
                *matCellDef="let element">
                <app-inspector-vertex-field
                  [config]="getFieldConfig(item.key)"
                  [value]="element.collection[item.key]"></app-inspector-vertex-field>
              </td>
            </ng-container>
          }

          <!-- Action Column -->
          <ng-container matColumnDef="action-caa4f8db8b42">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              @if (screenSize == 'wide') {
                <button
                  mat-stroked-button
                  extended
                  class="collection-btn"
                  (click)="openInGraph($event, element)">
                  View on Graph
                </button>
              } @else {
                <button
                  mat-icon-button
                  class="collection-btn"
                  (click)="openInGraph($event, element)">
                  <mat-icon>account_tree</mat-icon>
                </button>
              }
              @if (collection() == 'team') {
                <app-inspector-team
                  class="collection-btn"
                  [vertex]="element.collection.vertex"
                  [name]="element.collection.name"
                  [screenSize]="screenSize"
                  (click)="$event.stopPropagation()"></app-inspector-team>
              }
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="propDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: propDisplayedColumns;"
            class="element-row"
            (click)="openInInspector($event, element.collection.id)"></tr>
        </table>

        <mat-paginator
          [length]="total"
          [pageIndex]="currentIndex"
          [pageSize]="currentSize"
          [pageSizeOptions]="[5, 10, 25, 100]"
          (page)="handlePageEvent($event)"
          aria-label="Select page">
        </mat-paginator>
      </mat-card-content>

    </mat-card>
</div>
