<div class="collection-flex-container">
  <h1>Browse</h1>

  <form>
    <mat-form-field class="field-show-filter">
      <mat-label>Collection</mat-label>
      <mat-select
        [(ngModel)]="collectionFilter"
        (selectionChange)="onCollectionChange()"
        name="collection">
        @for (opt of collectionFilterOptions; track opt) {
          <mat-option [value]="opt.value">
            {{opt.viewValue}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
  <span class="spacer"></span>

  <button
    mat-stroked-button
    class="add"
    aria-label="Add Vertex"
    (click)="addVertex()"
    [disabled]="!user.roles.includes('admin') || disableAdd">
    <mat-icon>add</mat-icon>
    Add
  </button>
</div>

<div class="collection-flex-container">
  <form>
    <mat-form-field class="field-typeahead-filter">
      <mat-label>Filter</mat-label>
      <input type="text"
        placeholder="Filter"
        aria-label="Filter"
        spellcheck="false"
        matInput
        [formControl]="textFilterControl">
    </mat-form-field>
    <button mat-stroked-button aria-label="Clear" (click)="clear()">
      Clear
    </button>
  </form>
  <button mat-icon-button class="refresh" aria-label="Refresh Data" (click)="refresh();">
    <mat-icon>refresh</mat-icon>
  </button>
</div>

<div class="teams-table">
  @if ((!data || data.length === 0) && loading) {
    <mat-spinner></mat-spinner>
  }
  @if (data && data.length === 0 && !loading) {
    <mat-card class="warning-panel">
      <mat-card-header>
        <mat-card-title>No results found</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Clear filter?</p>
      </mat-card-content>
    </mat-card>
  }
  @if (data && data.length > 0) {
    <mat-card class="team-table">
      <mat-card-content>
        <table mat-table [dataSource]="data">

          @for (item of (fields | keyvalue); track item.key) {
            <ng-container matColumnDef="{{item.key}}">
              <th mat-header-cell *matHeaderCellDef> {{item.value.name}} </th>
              <td mat-cell *matCellDef="let element">
                {{ element[item.key] }}
              </td>
            </ng-container>
          }

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button mat-stroked-button extended color="primary"
                (click)="openInGraph($event, element)">
                View in Graph
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="propDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: propDisplayedColumns;"
            class="element-row"
            (click)="openInInspector($event, element.id)"></tr>
        </table>

        <mat-paginator [length]="total"
          [pageIndex]="pageIndex"
          [pageSize]="pageSize"
          [pageSizeOptions]="[5, 10, 25, 100]"
          (page)="handlePageEvent($event)"
          aria-label="Select page">
        </mat-paginator>
      </mat-card-content>

    </mat-card>
  }