@if (activeServices().length === 0) {
  <p>No services have been provisioned through Broker.</p>
} @else {
  <p>These services are provisioned through Broker.</p>
}

@if (userPermissions()) {
  @for (service of activeServices(); track service.id) {
    @if (service.instance) {
      <app-team-service
        [showHelp]="showHelp()"
        [userPermissions]="userPermissions()"
        [service]="service"
        (refresh)="refresh.emit()"></app-team-service>
    }
  }
}

@if (requestServices.length > 0 && false) {
  <app-team-service-request
    [serviceSearch]="requestServices()"></app-team-service-request>
}
