@if(loading()) {
  <mat-spinner></mat-spinner>
} @else {

  <app-collection-header
    [collection]="collection()"
    [title]="name()"
    [backIcon]="'arrow_back'"
  >
    @if (permission.hasAdmin()) {
  <button
    mat-stroked-button
    (click)="openInstanceDialog()"
    [disabled]="!permission.hasAdmin()">Quick Add</button>
    }
</app-collection-header>

<mat-card class="card-margin" appearance="outlined">
  <mat-card-content>
    <mat-card-title>Instances</mat-card-title>

    <p>{{ configMap['serviceInstance'].hint }}</p>

  @if (details.serviceInstance.length === 0) {
    <p class="no-instances">No instances found</p>
  }

  <div
    class="environment-layout"
    [class]="screen.screenSize()">

    @for(env of envs; track env.id; let last = $last) {
      @if (envDetailsMap && envDetailsMap[env.name]) {
      <div class="environment-container">
        <div class="environment-header">
          <div [class.environment-header-full]="envDetailsMap && envDetailsMap[env.name].length > 1">
            <div class="environment-subtitle">Environment</div>
            <div class="environment-title">{{env.title}}</div>
          </div>

        @if (envDetailsMap && envDetailsMap[env.name].length > 1) {
          <div>
            <mat-form-field class="instance-form">
              <mat-label>Instance</mat-label>
              <mat-select [(ngModel)]="envDetailSelection[env.name]">
                @for (element of envDetailsMap[env.name]; track element.id) {
                  <mat-option [value]="element">{{element.name}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        }

        @if (envDetailsMap && envDetailSelection[env.name]) {
          <div
            class="environment-header-right"
            [class.environment-header-align-center]="envDetailsMap[env.name].length === 1">

            <button
              mat-stroked-button
              extended
              (click)="openInstance(envDetailSelection[env.name].id)">
              View
            </button>
          </div>
        }
        </div>

        @if (envDetailsMap && envDetailSelection[env.name]) {
          <app-service-instance-details
            [instance]="envDetailSelection[env.name]"
            [showName]="envDetailsMap[env.name].length === 1"
            ></app-service-instance-details>
        }
        <mat-divider class="divider"></mat-divider>
      </div>
      }
    }

  </div>
  </mat-card-content>
</mat-card>
}