
.card-margin {
  margin: 32px;
}

.environment-layout {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
}

.environment-layout > * {
  width: calc(50% - 16px);
}

.environment-layout.narrow > * {
  width: 100%;
}

.edge-container {
  margin-bottom: 16px;
}

.header-container {
  display: flex;
  align-items: right;
  justify-content: space-between;
  flex-wrap: wrap;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

.divider {
  margin: 0 0 16px;
}

.divider:last-child {
  display: none;
}

.environment-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.environment-header > * {
  width: 50%;
}

.environment-header > .environment-header-full {
  width: 100%;
}

.environment-header > .environment-header-align-center {
  align-self: center;
}

.environment-header > .environment-header-right {
  text-align: right;
}

.environment-header-right > * {
  margin-left: 12px;
}

.environment-subtitle {
  font-size: 12px;
  color: var(--mat-sys-on-surface-variant);
  font-weight: 500;
  height: 20px;
  letter-spacing: 0.1px;
  line-height: 20px;
}

.environment-title {
  font-size: 18px;
  font-weight: 500;
  height: 22px;
  letter-spacing: 0.25px;
  line-height: 22px;
}

.instance-form {
  margin-top: 16px;
}

.no-instances {
  margin: 16px !important;
}