<h3>Hi Team <%= user.name %>,</h3>

<p>Please visit <a href="<%= brokerUrl %>">NR Broker</a> and take necessary actions.</p>

<p>Reference: <a href="https://bcgov.github.io/nr-broker/">Broker Documentation</a></p>

<p>Thank you</p>