<h2 mat-dialog-title>Roles</h2>
<mat-dialog-content>

  <p>Roles grant certain global NR Broker permissions when you login.</p>

  <mat-list role="list">
  @if (user.roles.length === 0) {
    <mat-list-item role="listitem">None</mat-list-item>
  }
  @for (role of user.roles; track role) {
    <mat-list-item role="listitem">{{role}}</mat-list-item>
  }
  </mat-list>

  <p class="access-text">Your access is primarily based on graph connections.</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>