<div>
  <app-vertex-tags
    [collection]="collection"
    [collectionData]="comboData.collection"></app-vertex-tags>

  @if (comboData.collection.tags && comboData.collection.tags.length > 0) {
    <mat-divider></mat-divider>
  }

  <app-inspector-vertex-fields
    #vertexFields
    [collection]="collection"
    [collectionConfig]="collectionConfig"
    [collectionData]="comboData.collection"
    [filter]="'yes'"
    ></app-inspector-vertex-fields>

  @if (vertexFields.filteredCollectionCount > 0) {
    <mat-divider></mat-divider>
  }

  @if (collection === 'brokerAccount') {
    <app-inspector-account
      [account]="collectionUtil.narrowCollectionType(collection, comboData.vertex, comboData.collection)"
      [userIndex]="4"
      [hasSudo]="hasSudo"></app-inspector-account>
  }
  @if (collection === 'service') {
    @if (comboData) {
      <app-inspector-instances
      [service]="comboData.collection"
      [vertex]="comboData.vertex"
      [vertices]="comboData.downstream"
      [details]="serviceDetails"></app-inspector-instances>
    }
    <mat-divider></mat-divider>
    <app-inspector-vault
      [service]="comboData.collection"
      [isAdministrator]="hasSudo"></app-inspector-vault>
    @if (hasSudo) {
      <mat-divider></mat-divider>
      <app-inspector-service-secure
        [service]="comboData.collection"
        ></app-inspector-service-secure>
    }
    <mat-divider></mat-divider>
  }
  @if (collection === 'serviceInstance') {
    <div class="component-spacer">
      <app-inspector-installs
        [pointers]="comboData.collection.actionHistory"></app-inspector-installs>
    </div>
    <mat-divider></mat-divider>
  }
  @if (collection === 'team') {
    <div class="edge-container">
      <app-inspector-team
        [vertex]="comboData.collection.vertex"
        [name]="comboData.collection.name"
        [screenSize]="'wide'"
        ></app-inspector-team>
    </div>
  }
</div>
