<div>
  <app-vertex-tags
    [collectionData]="collectionData"></app-vertex-tags>

  @if (collectionData.tags && collectionData.tags.length > 0) {
    <mat-divider></mat-divider>
  }


  <app-inspector-vertex-fields
    #vertexFields
    [collection]="collection"
    [collectionConfig]="collectionConfig"
    [collectionData]="collectionData"
    [filter]="'yes'"
    ></app-inspector-vertex-fields>


  @if (vertexFields.filteredCollectionCount > 0) {
    <mat-divider></mat-divider>
  }

  @if (collection === 'brokerAccount') {
    <app-inspector-account
      [account]="collectionData"
      [userIndex]="4"></app-inspector-account>
  }
  @if (collection === 'service') {
    @if (outboundConnections) {
      <app-inspector-instances
        [service]="collectionData"
        [vertices]="outboundConnections"></app-inspector-instances>
    }
    <app-inspector-intentions
      [id]="collectionData.id"
      [name]="collectionData.name"></app-inspector-intentions>
    <mat-divider></mat-divider>
    <app-inspector-vault
      [service]="collectionData"></app-inspector-vault>
    <mat-divider></mat-divider>
    <app-inspector-service-secure
      [service]="collectionData"
      [userIndex]="4"></app-inspector-service-secure>
    <mat-divider></mat-divider>
  }
  @if (collection === 'serviceInstance') {
    <div class="component-spacer">
      <app-inspector-installs
        [instance]="collectionData"></app-inspector-installs>
    </div>
    <mat-divider></mat-divider>
  }
  @if (collection === 'team') {
    <app-inspector-team
      [instance]="collectionData"></app-inspector-team>
  }
</div>