<div>
  @if (filteredCollectionData && (filteredCollectionData | keyvalue).length > 0 && collectionConfig) {
    <table mat-table [dataSource]="filteredCollectionData | keyvalue">
      <!-- Key Column -->
      <ng-container matColumnDef="key">
        <th mat-header-cell
          *matHeaderCellDef> Key </th>
        <td mat-cell
          *matCellDef="let element"> {{collectionConfig[collection].fields[element.key].name}} </td>
      </ng-container>
      <!-- Value Column -->
      <ng-container matColumnDef="value">
        <th mat-header-cell
          *matHeaderCellDef> Value </th>
        <td mat-cell
          *matCellDef="let element">
          <span class="ellipsis">
          @switch (getFieldType(element.key)) {
              @case ('boolean') {
                @if (element.value) {
                  Yes
                } @else {
                  No
                }
              }
              @case ('email') {
                {{element.value}}
              }
              @case ('json') {
                {{element.value}}
              }
              @case ('number') {
                {{element.value}}
              }
              @case ('string') {
                {{element.value}}
              }
              @case ('stringArray') {
                {{element.value.join(', ')}}
              }
              @case ('url') {
                {{element.value}}
              }
              @default {
              }
          }
        </span>
        </td>
      </ng-container>
      <tr mat-header-row
        *matHeaderRowDef="propDisplayedColumns"></tr>
      <tr mat-row
        *matRowDef="let row; columns: propDisplayedColumns;"></tr>
    </table>
    <mat-divider></mat-divider>
  }
  @if (collection === 'brokerAccount') {
    <app-inspector-account
      [account]="collectionData"
      [userIndex]="collectionConfig?.['user']?.index"></app-inspector-account>
  }
  @if (collection === 'service') {
    @if (outboundConnections | async; as vertices) {
      <app-inspector-instances
        [vertices]="vertices"
        (refreshData)="refreshData.emit()"></app-inspector-instances>
    }
    <app-inspector-intentions
      [id]="collectionData.id"
      [name]="collectionData.name"></app-inspector-intentions>
    <app-inspector-service-secure
      [service]="collectionData"
      [userIndex]="collectionConfig?.['user']?.index"></app-inspector-service-secure>
  }
  @if (collection === 'serviceInstance') {
    <app-inspector-installs
      [instance]="collectionData"></app-inspector-installs>
  }
  @if (collection === 'team') {
    <app-inspector-team
      [instance]="collectionData"
      (graphChanged)="refreshData.emit()"></app-inspector-team>
  }
</div>